<ion-header>
	<app-header [title]="'داشبورد من'"></app-header>
</ion-header>

<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title">داشبورد</h1>
					<p class="dsec"> {{ this.global?.user?.first_name }} عزیز, به سامانه عدل گستر خوش آمدید </p>
				</div>
			</div>
		</div>
	</div>
	<!-- top bar content -->
	<!-- main -->
	<main class="mb-5">
		<!-- آمار و ارقام -->
		<div class="container" *ngIf="!is_expert">
			<div class="mt-4">
				<ion-card class="counter-item m-0" mode="ios" color="white">
					<ion-card-content>
						<div class="row justify-content-between align-items-center">
							<div class="col-md-auto">
								<ion-text color="medium">تاریخ :</ion-text>
							</div>
							<div class="col-md-auto">
								<ion-text color="dark">{{ currentDate }} | ساعت : {{ rxTime | date: 'HH:mm:ss' }}
								</ion-text>
							</div>
						</div>
					</ion-card-content>
				</ion-card>
			</div>
			<div class="row">
				<!-- تعداد کل قرار داد ها -->
				<div class="col-lg-3 col-md-6 my-4">
					<ion-card class="counter-item m-0" mode="ios" color="white">
						<ion-card-content>
							<div class="counter">
								<div class="value red">
									<ion-text color="success">{{ data?.contract_count }}</ion-text>
								</div>
								<span class="unit">
									<ion-text color="success">قرار داد</ion-text>
								</span>
							</div>
							<p class="title ion-text-center">تعداد کل قرار داد ها</p>
						</ion-card-content>
					</ion-card>
				</div>
				<!-- قرار دادهای در حال اتمام -->
				<div class="col-lg-3 col-md-6 my-4">
					<ion-card class="counter-item m-0" mode="ios" color="white">
						<ion-card-content>
							<div class="counter">
								<div class="value">
									<ion-text color="warning">{{ data?.finishing_contracts_count }}</ion-text>
								</div>
								<span class="unit">
									<ion-text color="warning">قرار داد</ion-text>
								</span>
							</div>
							<p class="title ion-text-center"> در حال اتمام</p>
						</ion-card-content>
					</ion-card>
				</div>
				<!--  -->
				<!-- <div class="col-lg-3 col-md-6 my-4">
					<ion-card class="counter-item m-0" mode="ios" color="white">
						<ion-card-content>
							<div class="counter">
								<div class="value red">
									<ion-text color="primary">{{ data?.employee_count }}</ion-text>
								</div>
								<span class="unit">
									<ion-text color="primary">نفر</ion-text>
								</span>
							</div>
							<p class="title ion-text-center">تعداد کل کارمندان</p>
						</ion-card-content>
					</ion-card>
				</div> -->

				<!--  -->
				<div class="col-lg-3 col-md-6 my-4">
					<ion-card class="counter-item m-0" mode="ios" color="white">
						<ion-card-content>
							<div class="counter">
								<div class="value red">
									<ion-text color="danger">{{ data?.without_contract_employees_count }}</ion-text>
								</div>
								<span class="unit">
									<ion-text color="danger">کارمند</ion-text>
								</span>
							</div>
							<p class="title ion-text-center">بدون قرار داد</p>
						</ion-card-content>
					</ion-card>
				</div>
					<!-- تعداد کل فیش های حقوقی -->
					<div class="col-lg-3 col-md-6 my-4">
						<ion-card class="counter-item m-0" mode="ios" color="white">
							<ion-card-content>
								<div class="counter">
									<div class="value red">
										<ion-text color="success">{{ data?.payroll_count }}</ion-text>
									</div>
									<span class="unit">
										<ion-text color="success">فیش حقوقی</ion-text>
									</span>
								</div>
								<p class="title ion-text-center">تعداد کل فیش های حقوقی</p>
							</ion-card-content>
						</ion-card>
					</div>
			</div>
		</div>
		<!--  -->
		<div class="container"*ngIf="!is_expert">
			<div class="row">

				<div class="col-lg-6 col-md-12 my-4">
					<app-dashboard-nearest-birthday></app-dashboard-nearest-birthday>

				</div>
				<!-- d-sm-block d-none  -->
				<div class="col-lg-3 col-md-6 my-4 ">
					<ion-card class="counter-item m-0 employee_count-card" mode="ios" color="white">
						<ion-card-content>
							<div class="counter">
								<div class="value red">
									<ion-text color="primary">{{ data?.employee_separately_count.total_count }}</ion-text>
								</div>
								<span class="unit">
									<ion-text color="primary">نفر</ion-text>
								</span>
							</div>
							<p class="title ion-text-center">تعداد کل کارمندان</p>
						</ion-card-content>
					</ion-card>
				</div>
				<div class="col-lg-3 col-md-6 my-4">
					<app-dashboard-employee-pie-chart *ngIf="data?.employee_separately_count&&data" [employee_separately_count]="data?.employee_separately_count"></app-dashboard-employee-pie-chart>

				</div>
			</div>
		</div>
		<!--  -->
		<div class="container">
			<div class="row">
				<!-- بوک مارک ها -->
				<div class="col-lg-6 mb-4">
					<div class="listItem">
						<ion-card class="counter-item m-0" mode="ios" color="white">
							<app-dashboard-bookmark></app-dashboard-bookmark>
						</ion-card>
					</div>
				</div>
				<!-- نوت پد -->
				<div class="col-lg-6 mb-4">
					<app-dashboard-notepad></app-dashboard-notepad>
				</div>
				<!-- نوت پد -->
				<div class="col-lg-6 mb-4">
					<div class="listItem">
						<ion-card class="counter-item m-0" mode="ios" color="white">
							<app-dashboard-expire-contracts></app-dashboard-expire-contracts>
						</ion-card>
					</div>

				</div>
				<!-- نوت پد -->
				<div class="col-lg-6 mb-4">
					<div class="listItem">
						<ion-card class="counter-item m-0" mode="ios" color="white">
							<app-dashboard-nocontract-employee></app-dashboard-nocontract-employee>
						</ion-card>
					</div>
				</div>
				<!-- نوت پد -->
				<div class="col-lg-6 mb-4">
					<div class="listItem">
						<ion-card class="counter-item m-0" mode="ios" color="white">
							<app-dashboard-unconfirmed-contracts></app-dashboard-unconfirmed-contracts>
						</ion-card>
					</div>

				</div>
				<div class="col-lg-6 mb-4">
					<div class="listItem">
						<ion-card class="counter-item m-0" mode="ios" color="white">
							<app-dashboard-unconfirmed-payrolls></app-dashboard-unconfirmed-payrolls>
						</ion-card>
					</div>

				</div>
			</div>
		</div>
	</main>
</ion-content>
