<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ pageTitle }}</h1>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-back-button defaultHref="/payrolls/payroll_base_info/payroll_deduction/list" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<form [formGroup]="addForm" (submit)="onSubmit()">
				<div class="row my-4">
					<!-- عنوان اضافه حقوق -->
					<div class="col-md-12">
						<div class="form-input mb-3">
							<label>عنوان مورد کسری حقوق دستمزد</label>
							<ion-input autocomplete="new-pass" formControlName="name"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['name']" [controlName]="'عنوان'">
								</app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>
					<!-- اضافه شدن به عیدی و پاداش و حق سنوات -->
				
					<div class="col-12">
						<hr>
					</div>
					<div class="col-12">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-xl-2 col-lg-3">
								<ion-button expand="block" color="medium" fill="outline" shape="round"
									(click)="global.emptyFrom(addForm)">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-xl-3 col-lg-4">
								<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
									ثبت {{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
</ion-content>
