<ion-toolbar color="white">
	<ion-buttons slot="start">
		<ion-menu-toggle autoHide="false">
			<ion-button>
				<ion-icon slot="icon-only" name="menu"></ion-icon>
			</ion-button>
		</ion-menu-toggle>
	</ion-buttons>
	<ion-title class="ion-hide-lg-up">{{ title }}</ion-title>
	<ion-buttons slot="end">
		<ion-button>
			<ion-icon slot="icon-only" name="notifications"></ion-icon>
		</ion-button>
		<ion-button>
			<ion-icon slot="icon-only" name="search"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
