<ion-content>
	<div class="user-info my-3 ">
		<ion-thumbnail class="mx-auto mb-2">
			<ion-img [src]="'../assets/img/user-image.png'"></ion-img>
		</ion-thumbnail>
		<h5 class="my-0 name font-size-16 ion-text-center"><ion-text color="white">امین تکمیلی فرد</ion-text></h5>
		<p class="desc my-0 font-size-10 ion-text-center"><ion-text color="medium">09173052209</ion-text></p>
	</div>
	<div class="sidebar-item">
		<ion-list >
			<ng-template ngFor let-item [ngForOf]="Sidemenu" >
				<ion-item   [routerLink]="[item.url]" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"  color="tertiary">
					<ion-icon [name]="item.icon" slot="start"></ion-icon>
					<ion-label >{{ item.name }}</ion-label>
					<ion-icon  *ngIf="item.submenu.length" name="chevron-down" slot="end"></ion-icon>
				</ion-item>
				<div [@openAnimation]='item.state'></div>
				<ng-template ngFor let-subitem [ngForOf]="item.submenu" >
					<ion-item   [routerLink]="[subitem.url]" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"  color="tertiary">
						<ion-icon [name]="subitem.icon" slot="start"></ion-icon>
						<ion-label >{{ subitem.name }}</ion-label>
					</ion-item>
				</ng-template>
			</ng-template>
		</ion-list>
	</div>

</ion-content>
