<ion-content>
	<div class="user-info my-3 ">
		<ion-thumbnail class="mx-auto mb-2">
			<ion-img [src]="'../assets/img/user-image.png'"></ion-img>
		</ion-thumbnail>
		<h5 class="my-0 name font-size-16 ion-text-center"><ion-text color="white">امین تکمیلی فرد</ion-text></h5>
		<p class="desc my-0 font-size-10 ion-text-center"><ion-text color="medium">09173052209</ion-text></p>
	</div>
	<ion-list >
		<ion-item color="tertiary">
			<ion-icon name="mail" slot="start"></ion-icon>
			<ion-label>Inbox</ion-label>
		</ion-item>
		<ion-item color="tertiary">
			<ion-icon name="paper-plane" slot="start"></ion-icon>
			<ion-label>Outbox</ion-label>
		</ion-item>
		<ion-item color="tertiary">
			<ion-icon name="heart" slot="start"></ion-icon>
			<ion-label>Favorites</ion-label>
		</ion-item>
		<ion-item color="tertiary">
			<ion-icon name="archive" slot="start"></ion-icon>
			<ion-label>Archived</ion-label>
		</ion-item>
		<ion-item color="tertiary">
			<ion-icon name="trash" slot="start"></ion-icon>
			<ion-label>Trash</ion-label>
		</ion-item>
		<ion-item color="tertiary">
			<ion-icon name="warning" slot="start"></ion-icon>
			<ion-label>Spam</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
