<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ pageTitle }}</h1>
					<p class="dsec">در این قسمت میتوانید موارد پایه سنوات برای یک سال را ایجاد کنید</p>
				</div>
			</div>
			<div class="col-lg-auto">

				<ion-back-button defaultHref="more/business-category" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<form [formGroup]="addForm" (submit)="onSubmit()">
				<div class="row my-4">
					<!-- مربوط به سال -->
					<div class="col-12">
						<div class="form-input mb-3" *ngIf="this.businessCatgeories && this.businessCatgeories.length">
							<label>انتخاب دسته بندی والد</label>
							<ng-select [items]="businessCatgeories" formControlName="parent_id" bindLabel="name"
								bindValue="id" [clearable]="false" placeholder="انتخاب کنید">
							</ng-select>
							<span class="hint">برای ساخت دسته بندی والد باید این دسته را بر روی دسته بندی والد قرار دهید
								. </span>
						</div>
					</div>

					<!-- درصد افزایش نسبت به سال قبل -->
					<div class="col-12">
						<div class="form-input mb-3">
							<label>نام دسته بندی</label>
							<ion-input type="text" autocomplete="new-pass" formControlName="name"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['name']" [controlName]="'نام دسته بندی'">
								</app-validator>
							</span>
							<span class="hint">مثلا فست فود</span>
						</div>
					</div>
					<div class="col-12">
						<hr>
					</div>
					<div class="col-12">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-xl-2 col-lg-3">
								<ion-button expand="block" color="medium" fill="outline" shape="round"
									(click)="global.emptyFrom(addForm)">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-xl-3 col-lg-4">
								<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
									ثبت {{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
</ion-content>
