<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content *ngIf="Employee">
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ Employee?.full_name }}</h1>
					<p class="dsec">
						<span>کد ملی : {{ Employee?.national_code }}</span> |
						<span>شماره همراه : {{ Employee?.mobile }}</span>
					</p>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-button shape="round" color="medium" fill="outline" class="ml-3">
					<ion-back-button defaultHref="/employees" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
					</ion-back-button>
					<!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
					بازگشت -->
				</ion-button>
				<ion-button shape="round" *ngIf="global.userPermision['employees_edit']"
					[routerLink]="['/employees/edit/'+Employee?.id]" color="secondary">
					<ion-icon slot="start" name="build"></ion-icon>
					ویرایش اطلاعات
				</ion-button>
			</div>
		</div>
	</div>
	<!-- main -->
	<main>
		<!-- کارفرما -->
		<section>
			<ion-toolbar class="container">
				<ion-segment #segment value="contracts" color="primary" select-on-focus="true" mode="md" scrollable>
					<ion-segment-button value="contracts">
						<ion-icon name="document"></ion-icon>
						قرارداد ها
					</ion-segment-button>
					<ion-segment-button value="leave">
						<ion-icon name="calendar-clear"></ion-icon>
						مرخصی ها
					</ion-segment-button>
					<ion-segment-button value="loan">
						<ion-icon class="loan-icon" src="/assets/svg/icons8-loan-64.svg"></ion-icon>
						وام ها
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>
			<div *ngIf="segment.value=='contracts'" class="container">
				<!-- <div class="row align-items-center justify-content-between mt-4">
					<div class="col-md-auto">
						<div class="title-1">
							<h2 class="title">لیست قرار داد ها</h2>
						</div>
					</div>
				</div> -->
				<!-- list of employee -->
				<ng-template ngFor let-businessemployee [ngForOf]="Employee.business_employee_info">

					<div class="table-responsive-md my-3">
						<div>
							<section class="col-md-auto mb-1  d-flex row justify-content-between">
								<h5 class=" mb-2 title-1 col-7 ">قراردها با {{ businessemployee.business.name}}</h5>

								<ion-button *ngIf="global.userPermision['contract_add']" shape="round" color="success"
									[routerLink]="['/contracts/add',businessemployee.id]"
									[queryParams]="{EmployeeId: [EmployeeId]}" class="col-3 mt-1 width-50">
									<ion-icon slot="start" name="add-circle"></ion-icon>
									قرارداد جدید
								</ion-button>
							</section>
							<!-- table -->
							<table class="width-100 theme-table mt-3"
								*ngIf="businessemployee.business.contracts && businessemployee.business.contracts.length">
								<thead class="thead-dark">
									<tr class="ion-text-center">
										<th class="ion-text-center">#</th>
										<th scope="col">عنوان قرار داد</th>
										<th scope="col">شروع و پایان</th>
										<th scope="col">مدت قرار داد</th>
										<th class="ion-text-left" scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let contract of businessemployee.business.contracts  ; let i = index;">
										<th class="ion-text-center" scope="row">{{ i + 1 }}</th>
										<td>{{ contract.title }}</td>
										<td>
											<p class="my-1 font-size-12"> شروع : <span>{{ contract.start_date }}</span>
											</p>
											<p class="my-1 font-size-12"> پایان : <span>{{ contract.end_date }}</span>
											</p>
										</td>
										<td>
											<span class="my-1 font-size-12"><span>{{ contract.month_count }}
													ماه</span></span> ,
											<span class="my-1 font-size-12"><span>{{ contract.day_count }}
													روز</span></span>
										</td>
										<!-- <td>فناری اطلاعات و ارتباطاات</td> -->
										<td class="ion-text-left">
											<ion-buttons class="justify-content-end">
												<ion-button fill="clear" class="px-0 mx-0 tooltip-show" tooltip="حذف"
													*ngIf="global.userPermision['contract_delete']"
													(click)="removeContractALert(contract,businessemployee.id)">
													<ion-icon size="small" color="medium" slot="icon-only" name="trash">
													</ion-icon>
												</ion-button>
												<ion-button fill="clear" [routerLink]="['/contracts/edit', contract.id]"
													class="px-0 mx-0 tooltip-show" tooltip="ویرایش"
													*ngIf="global.userPermision['contract_edit']">
													<ion-icon size="small" color="medium" slot="icon-only" name="build">
													</ion-icon>
												</ion-button>
												<ion-button fill="clear"
													[routerLink]="['/contracts/detail', contract.id]"
													class="px-0 mx-0 tooltip-show" tooltip="جزییات"
													*ngIf="global.userPermision['contract_detail']">
													<ion-icon size="small" color="medium" slot="icon-only"
														name="search">
													</ion-icon>
												</ion-button>
											</ion-buttons>
										</td>
									</tr>
								</tbody>
							</table>
							<hr>
							<div>
								<div class="alert alert-warning my-3"
									*ngIf="!businessemployee.business.contracts.length" role="alert">
									<h6 class="title"> قرار دادی برای نمایش یافت نشد </h6>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
				<!-- (ionChange)="segmentChanged($event)" -->

			</div>
			<div *ngIf="segment.value=='leave'" class="container">

				<ng-template ngFor let-businessemployee [ngForOf]="Employee.business_employee_info">

					<div class="table-responsive-md my-3">
						<div>
							<section class="col-md-auto mb-1  d-flex row justify-content-between">

								<h5 class=" mb-2 title-1 col-7 ">مرخصی ها در {{ businessemployee.business.name}}</h5>
								<ion-button *ngIf="global.userPermision['employee_leave_add']" shape="round"
									color="success" [routerLink]="['/employees/leave/add',businessemployee.id]"
									class="col-3 mt-1 width-50">
									<ion-icon slot="start" name="add-circle"></ion-icon>
									مرخصی جدید
								</ion-button>
							</section>

							<!-- table -->
							<table class="width-100 theme-table mt-3"
								*ngIf="businessemployee.business.leaves && businessemployee.business.leaves.length">
								<thead class="thead-dark">
									<tr class="ion-text-center">
										<th class="ion-text-center">#</th>
										<th scope="col">تعداد روز</th>
										<th scope="col">سال</th>
										<th scope="col">ماه</th>
										<th scope="col"> تاریخ</th>
										<th class="ion-text-left" scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let leave of businessemployee.business.leaves  ; let i = index;">
										<th class="ion-text-center" scope="row">{{ i + 1 }}</th>
										<td>{{ leave.amount }}</td>
										<td>
											{{leave.year}}
										</td>
										<td>
											{{leave.month}}
										</td>
										<td>
											{{leave.createdAt}}
										</td>
										<!-- <td>فناری اطلاعات و ارتباطاات</td> -->
										<td class="ion-text-left">
											<ion-buttons class="justify-content-end">
												<ion-button (click)="removeleaveALert(leave)" fill="clear"
													class="px-0 mx-0 tooltip-show" tooltip="حذف"
													*ngIf="global.userPermision['employee_leave_delete']">

													<ion-icon size="small" color="medium" slot="icon-only" name="trash">
													</ion-icon>
												</ion-button>
												<ion-button fill="clear"
													*ngIf="global.userPermision['employee_leave_edit']"
													[routerLink]="['/employees/leave/edit',businessemployee.id,leave.id]"
													class="px-0 mx-0 tooltip-show" tooltip="ویرایش">
													<ion-icon size="small" color="medium" slot="icon-only" name="build">
													</ion-icon>
												</ion-button>

											</ion-buttons>
										</td>
									</tr>
								</tbody>
							</table>
							<div>
								<div class="alert alert-warning my-3" *ngIf="!businessemployee.business.leaves.length"
									role="alert">
									<h6 class="title"> مرخصی برای نمایش یافت نشد </h6>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</ng-template>
				<!-- (ionChange)="segmentChanged($event)" -->

			</div>
			<div *ngIf="segment.value=='loan'" class="container">
				<!-- <div class="row align-items-center justify-content-between mt-4">
					<div class="col-md-auto">
						<div class="title-1">
							<h2 class="title">لیست قرار داد ها</h2>
						</div>
					</div>
				</div> -->
				<!-- list of employee -->

				<ng-template ngFor let-businessemployee [ngForOf]="Employee.business_employee_info">

					<div class="table-responsive-md my-3">
						<div>
							<!-- <h5 class="mt-4 mb-2"></h5> -->

							<section class="col-md-auto mb-1  d-flex row justify-content-between">
								<h5 class=" mb-2 title-1 col-7 ">وام ها با {{ businessemployee.business.name}}</h5>

								<ion-button *ngIf="global.userPermision['employee_loan_add']" shape="round" color="success"
									[routerLink]="['/employees/loan/add',businessemployee.id]"
									class="col-3 mt-1 width-50">
									<ion-icon slot="start" name="add-circle"></ion-icon>
									وام جدید
								</ion-button>
							</section>

							<!-- table -->
							<table class="width-100 theme-table mt-3"
								*ngIf="businessemployee.business.loans && businessemployee.business.loans.length">
								<thead class="thead-dark">
									<tr class="ion-text-center">
										<th class="ion-text-center">#</th>
										<th scope="col">مقدار وام </th>
										<th scope="col">تاریخ وام</th>
										<th scope="col">تاریخ ثبت وام</th>
										<th class="ion-text-left" scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let loan of businessemployee.business.loans  ; let i = index;">
										<th class="ion-text-center" scope="row">{{ i + 1 }}</th>
										<td>{{ loan.amount }}</td>
										<td>{{ loan.date }}</td>
										<td>{{ loan.createdAt }}</td>


										<!-- <td>فناری اطلاعات و ارتباطاات</td> -->
										<td class="ion-text-left">
											<ion-buttons class="justify-content-end">
												<ion-button fill="clear" class="px-0 mx-0 tooltip-show" tooltip="حذف"
													*ngIf="global.userPermision['employee_loan_delete']"
													(click)="removeLoanALert(loan)">
													<ion-icon size="small" color="medium" slot="icon-only" name="trash">
													</ion-icon>
												</ion-button>
												<ion-button fill="clear" [routerLink]="['/employees/loan/edit',businessemployee.id, loan.id]"
													class="px-0 mx-0 tooltip-show" tooltip="ویرایش"
													*ngIf="global.userPermision['employee_loan_edit']">
													<ion-icon size="small" color="medium" slot="icon-only" name="build">
													</ion-icon>
												</ion-button>

											</ion-buttons>
										</td>
									</tr>
								</tbody>
							</table>
							<div>
								<div class="alert alert-warning my-3" *ngIf="!businessemployee.business.loans.length"
									role="alert">
									<h6 class="title"> وامی برای نمایش یافت نشد </h6>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</ng-template>
				<!-- (ionChange)="segmentChanged($event)" -->

			</div>
		</section>
	</main>
</ion-content>
