<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ pageTitle }}</h1>
				</div>
			</div>
			<div class="col-lg-auto">

				<ion-back-button defaultHref="more/salary-constants" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<form [formGroup]="editForm" (submit)="onSubmit()" autocomplete="off">
			<div class="row my-4">

					<!-- سال -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>سال عقد قرار داد</label>
							<ion-input (ionChange)="getConstantMaxValues()" [debounce]="1000" type="number" autocomplete="new-pass" formControlName="year"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['year']" [controlName]="'سال عقد قرار داد'"></app-validator>
							</span>
							<span class="hint">مثلا سال 1404</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>حق بن (ریال)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="grocery_allowance"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['grocery_allowance']" [controlName]="'حق بن'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>حق مسکن (ریال)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="housing_allowance"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['housing_allowance']" [controlName]="'حق مسکن'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>حق اولاد (برای یک فرزند) (ریال)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="children_allowance"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['children_allowance']" [controlName]="'حق اولاد'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
					</div>
					<!-- عنوان کسب و کار -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>حداکثر عیدی (ریال)</label>
							<ion-input [readonly]="true" type="number" autocomplete="new-pass" formControlName="max_new_year_gift"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['max_new_year_gift']" [controlName]="'حداکثر عیدی'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
					</div>
					<!-- عنوان کسب و کار -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>حداکثر  پاداش (ریال)</label>
							<ion-input [readonly]="true" type="number" autocomplete="new-pass" formControlName="max_bonus"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['max_bonus']" [controlName]="'حداکثر پاداش'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
					</div>
					<div class="col-md-12"><hr></div>
					<div class="col-md-12">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-xl-3 col-lg-2">
								<ion-button expand="block" color="medium" fill="outline" shape="round" (click)="global.emptyFrom(editForm)">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-xl-4 col-lg-3">
								<ion-button type="submit"  expand="block" color="success" fill="solid" shape="round">
									ثبت {{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</main>
</ion-content>
