<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>

<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title">{{ pageTitle }}</h1>
					<!-- <p class="dsec">لیست تمام فیش حقوقی های مربوط به کسب و کارهای من
					</p> -->
				</div>
			</div>
			<div class="col-lg-auto">

				<ion-button *ngIf="global.userPermision['payrolls_payroll_add']" shape="round" color="success" [routerLink]="['/payrolls/payroll/add']">
					<ion-icon slot="start" name="add-circle"></ion-icon>
					فیش حقوقی جدید
				</ion-button>
			</div>
		</div>
	</div>
	<!-- top bar content -->
	<main>
		<div class="container pb-5">
			<!-- search and title -->
			<div class="row mt-4">
				<div class="col-md-12">
					<div class="title-1">
						<h2 class="title">لیست فیش حقوقی </h2>
						<p class="dsec">لیست فیش های حقوقی به شرح زیر است</p>
					</div>
				</div>

			
        <div  class="col-md-6 mb-3">
					<div class="form-input ">

						<ng-select
						[items]="businesslist$ | async"
						placeholder="جستوجو در کسب و کار"
						[loading]="businessInputLoading"
						bindLabel="name"
						bindValue="id"
						typeToSearchText="لطفا حداقل {{minLengthTerm}} کارکتر تایپ کنید"
						[typeahead]="businessInput$"
						[(ngModel)]="businessId"
						[clearable]="true"
						(change)="pageChange(1)"
						loadingText="لطفا صبر کنید ..."
						notFoundText="مناسفانه کسب و کاری یافت نشد"
					
					>
					</ng-select>


					</div>
				</div>
				<!-- انتخاب کسب کار -->
				<div  class="col-md-6  mb-3">
					<div class="form-input">
					
					

            <ng-select
						[items]="employeelist$ | async"
						placeholder="جستوجو در کارمندان"
						[loading]="employeeInputLoading"
						bindLabel="full_name"
						bindValue="id"
						typeToSearchText="لطفا حداقل {{minLengthTerm}} کارکتر تایپ کنید"
						[typeahead]="employeeInput$"
						[(ngModel)]="employeeId"
						[clearable]="true"
						(change)="changeFilter()"
						loadingText="لطفا صبر کنید ..."
						notFoundText="مناسفانه کارمندی یافت نشد"
					></ng-select>

					</div>
				</div>
			
				<div  class="col-12">
					<hr>
				</div>
			</div>

			<!-- لیست قرر داد ها -->
			<!-- table -->
			<table *ngIf="dataList && dataList.length" class="width-100 theme-table ">
				<thead class="thead-dark">
					<tr class="ion-text-center">
						<th class="ion-text-center">#</th>
						<th scope="col">سال</th>
						<th scope="col">ماه</th>
						<th scope="col">کارمند</th>
						<th scope="col">کسب و کار</th>
						<th scope="col">حقوق دریافتی</th>
						<th scope="col">مجموع اضافات</th>
						<th scope="col">مجموع کسورات</th>
						<th scope="col">وضعیت</th>
						<th scope="col">تاریخ واریز حقوق</th>
						<th class="ion-text-left" scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let item of dataList | paginate : { itemsPerPage : limit , currentPage: CurrentPage ,  totalItems: total } ; let i = index;">
						<th class="ion-text-center" scope="row">{{ ( ( CurrentPage - 1) * limit ) + i + 1 }}</th>
					
						<td class="py-1">
							<span class="my-1 font-size-12" >{{item.year}}</span>
						</td>
					
						<td>
              <span class="my-1 font-size-12" >{{global.getMonthName[item.month]  }}</span>
					</td>
						<td>
              <span class="my-1 font-size-12" > {{item.full_name }}</span>
					</td>
						<td>
              <span class="my-1 font-size-12" >{{item.business_name }}</span>
					</td>
						<td>
              <span class="my-1 font-size-12" >{{item.payroll_received }}</span>
					</td>
						<td>
              <span class="my-1 font-size-12" >{{item.sum_payroll_additions }}</span>
             
					</td>
						<td> <span class="my-1 font-size-12" >{{item.sum_payroll_deductions }}</span></td>
						<td> <span class="my-1 font-size-12" >{{ item.is_confirmed?'تایید شده':'تایید نشده' }}</span></td>
						<td> <span class="my-1 font-size-12" *ngIf="item.payment_date" >{{ item.payment_date }}</span><ion-chip mod="ios" color="danger" *ngIf="!item.payment_date">
							<span class="font-size-10">پرداخت نشده</span>
						  </ion-chip></td>
						<td class="ion-text-left">
							<ion-buttons class="justify-content-end">
								<!-- <ion-button fill="clear" class="px-0 mx-0 tooltip-show" tooltip="عملگرها"
									[id]="'hover-button-'+item.id">
									<ion-icon size="small" color="medium" size="cover" slot="icon-only" name="ellipsis-vertical">
									</ion-icon>
								</ion-button> -->
							<ion-button [routerLink]="['/payrolls/payroll/detail',item.id]" fill="clear" class="px-0 mx-0 tooltip-show" tooltip="جزیات " *ngIf="global.userPermision['payrolls_payroll_detail']">
									<ion-icon  size="small" color="medium" slot="icon-only" name="search"></ion-icon>
								</ion-button>
							<ion-button (click)="confirmedPayrollHour(item)" fill="clear" class="px-0 mx-0 tooltip-show" tooltip="تایید نهایی" *ngIf="global.userPermision['payroll_confirm']&&!item.is_confirmed">
									<ion-icon  size="small" color="medium" slot="icon-only" name="checkmark-done"></ion-icon>
								</ion-button>
								<ion-button (click)="removePayrollHour(item)" fill="clear" class="px-0 mx-0 tooltip-show" tooltip="حذف" *ngIf="global.userPermision['payrolls_payroll_delete']&&!item.is_confirmed">
									<ion-icon size="small" color="medium" slot="icon-only" name="trash">
									</ion-icon>
								</ion-button>
								<ion-button [routerLink]="['/payrolls/payroll/edit']"
								[queryParams]="{id:item.id}" fill="clear" class="px-0 mx-0 tooltip-show" tooltip="ویرایش" *ngIf="global.userPermision['payrolls_payroll_edit']&&!item.is_confirmed">
									<ion-icon size="small" color="medium" slot="icon-only" name="build">
									</ion-icon>
								</ion-button>
								
							
							</ion-buttons>
						</td>
					</tr>
				</tbody>
				<tfoot *ngIf="limit < total && dataList && dataList.length">
					<tr>
						<td colspan="8">
							<pagination-controls *ngIf="limit < total && dataList && dataList.length"
								[previousLabel]="'قبلی'" [nextLabel]="'بعدی'" (pageChange)="pageChange($event)"
								[autoHide]="true">
							</pagination-controls>
						</td>
					</tr>
				</tfoot>
			</table>
			<div *ngIf="dataList && dataList.length === 0 && !(businessId||employeeId)" class="alert alert-warning my-3" role="alert">
				<h4 class="title">فیش حقوقی برای نمایش یافت نشد .</h4>
				<p class="dsec"> شما تا کنون فیش حقوقی ثبت نکردید .
					<span *ngIf="global.userPermision['payrolls_payroll_add']">
					 برای اضافه کردن فیش حقوقی بر روی دکمه <a *ngIf="global.userPermision['payrolls_payroll_add']" [routerLink]="['/payrolls/payroll/add']">  فیش حقوقی جدید </a> 
					</span>
					 کلیک کنید</p>
			</div>
			<!-- if search return empty cell -->
			<div *ngIf="dataList && dataList.length === 0 && (businessId||employeeId)" class="alert alert-warning my-3" role="alert">
				<h4 class="title"> فیش حقوقیی برای نمایش یافت نشد .</h4>
				<p class="dsec">  فیش حقوقیی با المان جستجو شده یافت نشد</p>
			</div>
		</div>
	</main>
</ion-content>
