@import '/src/theme/extends';


#login{
	min-height: 100vh;
	@extend %flex-column-center-center;
}
.login-form{
	.logo{
		width: 200px;
		height: 200px;
		object-fit: contain;
		object-position: center;
		display: block;
		margin: 0 auto;
	}

	.title{
		text-align: center;
	}
	.desc{
		text-align: center;
	}
}
a{
	cursor: pointer;
}