<ion-content>
	<div id="login">
		<div class="container">
			<!-- login -->
			<div *ngIf="regStatus === 0" class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<form class="login-form" [formGroup]="loginForm" (ngSubmit)="saveMobile()" autocomplete="off">

						<ion-img class="logo" [src]="'../assets/img/logo.png'"></ion-img>
						<h1 class="title">ورود کاربران</h1>
						<p class="desc">برای ورود لطفا شماره همراه خود را وارد کنید</p>
						<!-- custom input -->
						<div class="form-input ">
							<label>شماره همراه</label>
							<ion-input (keypress)="global.justNumber($event)" formControlName="mobile" autofocus="true"
								autocomplete="new-pass"></ion-input>
							<span class="error">
								<app-validator [control]="loginForm.controls['mobile']" [controlName]="'شماره همراه'">
								</app-validator>
							</span>
							<span class="hint">مثلا 09173052222</span>
						</div>
						<ion-button class="my-3" type="submit" expand="block" size="large" shape="round" fill="solid">
							ورود به پنل</ion-button>
						<!-- end custom input -->

					</form>
					<!-- verify -->
				</div>
			</div>

			<!-- passwordForm -->
			<div *ngIf="regStatus === 1" class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<swiper dir="rtl" #swiperRef [effect]="'flip'" [grabCursor]="true" [simulateTouch]="false"
						class="mySwiper">
						<ng-template swiperSlide>
							<form class="login-form" [formGroup]="passwordForm" (ngSubmit)="onVerifyByPassword()"
								autocomplete="off">

								<ion-img class="logo" [src]="'../assets/img/logo.png'"></ion-img>
								<h1 class="title">رمز عبور </h1>
								<p class="desc">رمز عبور متعلق به {{ mobile }} را وارد کنید</p>
								<!-- custom input -->
								<div class="form-input ">
									<label>رمز عبور</label>
									<!-- <ion-input formControlName="password" autofocus="true" autocomplete="new-pass">
									</ion-input> -->
									<!-- <ion-progress-bar value=".25"></ion-progress-bar> -->
									<div class="input-raper">
										<ion-icon *ngIf="!passwordForm.controls['password'].valid" name="lock-closed"></ion-icon>
										<ion-icon *ngIf="passwordForm.controls['password'].valid" name="lock-open"></ion-icon>
										<ion-input #passwordinput type="password" formControlName="password"  autofocus="true" autocomplete="new-pass">
										</ion-input>
										 <!-- [clearOnEdit]="false" -->
										<ion-buttons slot="end">
										  <ion-button shape="round" (click)="togglePasswordShow(passwordinput)">
							  
											<ion-icon *ngIf="passwordinput.type!=='text'" slot="end" name="eye"></ion-icon>
											<ion-icon *ngIf="passwordinput.type=='text'" slot="end" name="eye-off"></ion-icon>
										  </ion-button>
											
										</ion-buttons>
							  
									  </div>
									<span class="error">
										<app-validator [control]="passwordForm.controls['password']"
									[controlName]="' رمز عبور '"></app-validator>
									</span>
									<a (click)="onLogin()" class="d-flex width-100 ion-align-items-center mt-20"><span>ورود با کد
											یکبار
											مصرف</span>
										<ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
									</a>
									<div class="hint">

										<hr>
										<!-- href="/login/forgetpassword" -->
										<p>رمز عبور خود را فراموش کرده ام !! <a (click)="forgetPassword()">فراموشی رمز
												عبور</a>
										</p>
									</div>
								</div>
								<ion-button class="my-3" type="submit" expand="block" size="large" shape="round"
									fill="solid">
									بررسی و ورود </ion-button>


								<ion-button class="my-3 " type="button" expand="block" size="large" shape="round"
									fill="outline" color="medium" (click)="changeNumber()"> تغییر شماره همراه
								</ion-button>

								<!-- end custom input -->

							</form>
						</ng-template>
						<ng-template swiperSlide>
							<form class="login-form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitForgetPassword()"
								autocomplete="off">

								<ion-img class="logo" [src]="'../assets/img/logo.png'"></ion-img>
								<h1 class="title">فراموشی رمز عبور </h1>
								<p class="desc">کد پنج رقمی ارسال شده به {{ mobile }} را وارد کنید و سپس رمز جدید خود را
									تنظیم کنید</p>
								<!-- custom input -->
								<div class="form-input ">
									<label>کد پنج رقمی</label>
									<ion-input (keypress)="global.justNumber($event)" formControlName="verifyCode"
										autofocus="true" autocomplete="new-pass"></ion-input>
									<span class="error">
										<app-validator [control]="forgetPasswordForm.controls['verifyCode']"
											[controlName]="'کد 5 رقمی'"></app-validator>
									</span>
									<span class="hint">
										<span *ngIf="timer != '00:00' " class="time" color="primary">
											{{timer}}
											تا ارسال مجدد
										</span>
										<a *ngIf="timer == '00:00' " (click)="reSendForgetPassword()" class="time"
											color="primary">
											ارسال مجدد
										</a>
									</span>
								</div>
								<!-- custom input -->
								<div class="form-input input-progress ">
									<label>رمز عبور جدید</label>
									<div class="input-raper">
										<ion-icon *ngIf="!paswordChecker.totalValid" name="lock-closed"></ion-icon>
										<ion-icon *ngIf="paswordChecker.totalValid" name="lock-open"></ion-icon>
										<ion-input [clearOnEdit]="false" #newPasswordinput type="password" formControlName="newPassword" (ionChange)="checkPassword($event)" autofocus="true" autocomplete="new-pass">
										</ion-input>
										
										<ion-buttons slot="end">
										  <ion-button shape="round" (click)="togglePasswordShow(newPasswordinput)">
							  
											<ion-icon *ngIf="newPasswordinput.type!=='text'" slot="end" name="eye"></ion-icon>
											<ion-icon *ngIf="newPasswordinput.type=='text'" slot="end" name="eye-off"></ion-icon>
										  </ion-button>
											
										</ion-buttons>
							  
									  </div>
									  <ion-progress-bar [color]="paswordBarColor" [value]="paswordBarValue"></ion-progress-bar>
									<span class="error">
										<!-- <app-validator [control]="passwordForm.controls['verifycode']"
											[controlName]="'کد 5 رقمی'"></app-validator> -->

										<ion-item lines="full">
											<ion-icon *ngIf="!paswordChecker.minLengthFive" color="danger" name="close" slot="start"></ion-icon>
											<ion-icon *ngIf="paswordChecker.minLengthFive"color="success" name="checkmark" slot="start"></ion-icon>
											<ion-label>  حداقل 5 کارکتر </ion-label>
										</ion-item>
										<ion-item lines="full">
											<ion-icon *ngIf="!paswordChecker.hasCharecter" color="danger" name="close" slot="start"></ion-icon>
											<ion-icon *ngIf="paswordChecker.hasCharecter"color="success" name="checkmark" slot="start"></ion-icon>
											<ion-label>حداقل شامل یکی از کارکتر های مجاز 
												<br>
											<span >
												({{'$@!%*/?&#^_. +'}})
											</span></ion-label>
											
										</ion-item>
										<ion-item lines="full">
											<ion-icon *ngIf="!paswordChecker.hasEnglishWord" color="danger" name="close" slot="start"></ion-icon>
											<ion-icon *ngIf="paswordChecker.hasEnglishWord" color="success" name="checkmark" slot="start"></ion-icon>
											<ion-label> حداقل شامل یک حرف انگلیسی </ion-label>
										</ion-item>
										<ion-item lines="full">
											<ion-icon *ngIf="!paswordChecker.hasNumber" color="danger" name="close" slot="start"></ion-icon>
											<ion-icon *ngIf="paswordChecker.hasNumber" color="success" name="checkmark" slot="start"></ion-icon>
											<ion-label> حداقل شامل یک عدد </ion-label>
										</ion-item>
									</span>
								
									
								</div>
								<div class="form-input input-progress ">
									<label>تکرار رمز عبور جدید</label>
									<div class="input-raper">
										<ion-icon *ngIf="!paswordChecker.totalValid||forgetPasswordForm.value.newPassword!=forgetPasswordForm.value.confirmPassword" name="lock-closed"></ion-icon>
										<ion-icon  *ngIf="paswordChecker.totalValid&&forgetPasswordForm.value.newPassword==forgetPasswordForm.value.confirmPassword" name="lock-open"></ion-icon>
										<ion-input [clearOnEdit]="false" #confirmPasswordInput type="password" formControlName="confirmPassword"  autofocus="true" autocomplete="new-pass">
										</ion-input>
										
										<ion-buttons slot="end">
										  <ion-button shape="round" (click)="togglePasswordShow(confirmPasswordInput)">
						
											<ion-icon  *ngIf="confirmPasswordInput.type!=='text'" slot="end" name="eye"></ion-icon>
											<ion-icon  *ngIf="confirmPasswordInput.type=='text'" slot="end" name="eye-off"></ion-icon>
										  </ion-button>
											
										</ion-buttons>
							  
									  </div>
									  <!-- <ion-progress-bar [color]="paswordBarColor" [value]="paswordBarValue"></ion-progress-bar> -->
									<span class="error">
										<!-- <app-validator [control]="passwordForm.controls['verifycode']"
											[controlName]="'کد 5 رقمی'"></app-validator> -->
											<div class="ion-text-right" *ngIf="forgetPasswordForm.value.confirmPassword&&forgetPasswordForm.value.newPassword!=forgetPasswordForm.value.confirmPassword">
												<ion-text #text class="validation-text" color="danger">
													
													تکرار رمز عبور با رمز عبور واردشده برار نیست
												</ion-text>
											  </div>
											

									</span>
								
									<div class="hint">

										<!-- <hr> -->
										<!-- href="/login/forgetpassword" -->
<!-- 										
										<p>رمز عبور خود را فراموش کرده ام !! <a (click)="backtoPasswordSlide()">فراموشی
												رمز عبور</a>
										</p> -->
									</div>
								</div>
								<ion-button class="my-3" type="submit" expand="block" size="large" shape="round"
									fill="solid">
									ثبت</ion-button>


								<ion-button class="my-3 " type="button" expand="block" size="large" shape="round"
									fill="outline" color="medium" (click)="backtoPasswordSlide()"> 
									بازگشت
								</ion-button>

								<!-- end custom input -->

							</form>
						</ng-template>

					</swiper>`

					<!-- verify -->
				</div>


			</div>

			<!-- register -->
			<div *ngIf="regStatus === 2" class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<form class="login-form" [formGroup]="verifyForm" (ngSubmit)="onVerify()" autocomplete="off">

						<ion-img class="logo" [src]="'../assets/img/logo.png'"></ion-img>
						<h1 class="title">احراز هویت شماره همراه</h1>
						<p class="desc">یک کد 5 رقمی به شماره همراه {{ mobile }} ارسال شده . این کد را در باکس زیر وارد
							کنید و بر روی ادامه بزنید .</p>
						<!-- custom input -->
						<div class="form-input ">
							<label>کد پنج رقمی</label>
							<ion-input (keypress)="global.justNumber($event)" formControlName="verifycode"
								autofocus="true" autocomplete="new-pass"></ion-input>
							<span class="error">
								<app-validator [control]="verifyForm.controls['verifycode']"
									[controlName]="'کد 5 رقمی'"></app-validator>
							</span>
							<span class="hint">
								<span *ngIf="timer != '00:00' " class="time" color="primary"> {{timer}}
									تا ارسال مجدد </span>
								<a *ngIf="timer == '00:00' " (click)="reSend()" class="time" color="primary">
									ارسال مجدد
								</a>
							</span>
						</div>
						<ion-button class="my-3" type="submit" expand="block" size="large" shape="round" fill="solid">
							بررسی و ورود </ion-button>
						<ion-button class="my-3" type="button" expand="block" size="large" shape="round" fill="outline"
							color="medium" (click)="changeNumber()"> تغییر شماره همراه </ion-button>
						<!-- end custom input -->

					</form>
					<!-- verify -->
				</div>
			</div>

		</div>
	</div>
</ion-content>
