<ion-content>
	<div id="login">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<div class="login-form">
						<ion-img class="logo" [src]="'../assets/img/logo.png'"></ion-img>
						<h2 class="title">ورود کاربران</h2>
						<p class="desc">برای ورود لطفا شماره همراه خود را وارد کنید</p>
						<!-- custom input -->
						<div class="form-input ">
							<label>شماره همراه</label>
							<ion-input></ion-input>
							<span class="error"></span>
							<span class="hint">مثلا : 09173052222</span>
						</div>
						<ion-button class="my-3" expand="block" shape="round" fill="solid" >ورود به پنل</ion-button>
						<!-- end custom input -->
					</div>
				</div>
			</div>

		</div>
	</div>
</ion-content>
