<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ pageTitle }}</h1>
					<p class="dsec">در این قسمت میتوانید موارد پایه سنوات برای یک سال را ایجاد کنید</p>
				</div>
			</div>
			<div class="col-lg-auto">

				<ion-back-button defaultHref="more/calc-basic-years" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<form [formGroup]="editForm" (submit)="onSubmit()">
				<div class="row my-4">

					<!-- مربوط به سال -->
					<!-- <input type="hidden" formControlName="id"> -->
					<div class="col-lg-6">
						<div class="form-input mb-3">
							<label>مربوط به سال</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="contract_year">
							</ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['contract_year']" [controlName]="'سال'">
								</app-validator>
							</span>
							<span class="hint">مثلا سال 1403</span>
						</div>
					</div>

					<!-- درصد افزایش نسبت به سال قبل -->
					<div class="col-lg-6">
						<div class="form-input mb-3">
							<label>درصد افزایش نسبت به سال قبل</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="incremental_percent">
							</ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['incremental_percent']"
									[controlName]="'درصد افزایش نسبت به سال قبل'"></app-validator>
							</span>
							<span class="hint">مثلا 12</span>
						</div>
					</div>

					<!--مبلغ پایه (ریال) -->
					<div class="col-lg-6">
						<div class="form-input mb-3">
							<label>مبلغ پایه (ریال)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="incremental_price">
							</ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['incremental_price']"
									[controlName]="'مبلغ پایه'"></app-validator>
							</span>
							<span class="hint">مثلا : 234,4350 ریال</span>
						</div>
					</div>

					<!-- مقدار ثابت اضافه شونده (ریال)-->
					<div class="col-lg-6">
						<div class="form-input mb-3">
							<label>مقدار ثابت اضافه شونده (ریال)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="base_price"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['base_price']"
									[controlName]="'مقدار ثابت اضافه شونده'"></app-validator>
							</span>
							<span class="hint">مثلا : 234,4350 ریال</span>
						</div>
					</div>


					<div class="col-lg-12"><hr></div>
					<div class="col-lg-12">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-xl-2 col-lg-3">
								<ion-button [routerLink]="['/more/calc-basic-years']" expand="block" color="medium"
									fill="outline" shape="round">
									بازگشت
								</ion-button>
							</div>
							<div class="col-xl-3 col-lg-4">
								<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
									{{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</div>


				</div>
			</form>
		</div>
	</main>
</ion-content>
