@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/iransans/IRANSansWeb_UltraLight.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/iransans/IRANSansWeb_Light.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/iransans/IRANSansWeb.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/iransans/IRANSansWeb.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../fonts/iransans/IRANSansWeb.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/iransans/IRANSansWeb.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/iransans/IRANSansWeb_Medium.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/iransans/IRANSansWeb_Bold.otf') format("opentype");
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/iransans/IRANSansWeb_Black.otf') format("opentype");
}

body {
	font-family: "IRANSans" !important;
	font-size: 16px;
	line-height: 30px;
	direction: rtl;
	line-height: 1.3;
}
body *{
	font-family: "IRANSans" !important;
	font-size: 16px;
	line-height: 30px;
}
@page {
	margin: 0.5cm;

	/* @top-right {
		content: "Page "counter(page) " of "counter(pages);
	} */
}
#contract {
	position: absolute;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 5px solid red;
  }
.container-print {
	max-width: 1200px;

	width: auto;
}

.inner-html-dev .show_date {
	unicode-bidi: plaintext;
}

.inner-html-dev p {
	line-height: 30px;
}

@media print {

	body {
		padding: 50px 25px;
		margin: 0 0;
		counter-reset: page;
	}
	#pageborder {
		position:fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border: 2px solid black;
	  }
	#contract {
		display: table;
	}

	table {
		display: table;
	}

	tbody{
		line-height: 30px;
		font-size: 16px;
	}
	footer,
	header {
		position: fixed;
	}


	footer {
		bottom: 0;
	}

	table tfoot {
		padding: 10px 0;
		counter-reset: page;
		display: table-footer-group;
		position: relative;

	}



	.footer-print {
		position: relative;

	}


	.my-5 {
		padding: 30px 0;
	}
}

@page {
	padding: 30px;
}


.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
