<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content >
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> ویرایش قرارداد </h1>
					<p class="dsec">در این قسمت شما میتوانید قرارداد را ویرایش کنید
					</p>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-button shape="round" color="medium" fill="outline">
					<ion-back-button [defaultHref]="'/contracts/detail/'+dataList?.id" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
					</ion-back-button>
					<!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
					بازگشت -->
				</ion-button>
			</div>
		</div>
	</div>
	<main>

		<form [formGroup]="contractsForm" (ngSubmit)="onSubmit()">
			<!--  -->
			<div class="container mt-4">
				<!-- step 0  -->
				<div class="row mb-4"  *ngIf="dataList">
					<div class="col-12 my-4">
						<div class="title-1">
							<h2 class="title">تکمیل اطلاعات اولیه قرارداد</h2>
							<p class="dsec">قسمت اول مشخص کردن افراد در قرارداد قالب قرارداد و شروط ضمن عقد قرارداد
							</p>
						</div>
					</div>
						<!-- انتخاب کسب و کار -->
						<div class="col-md-12" *ngIf="businessList && businessList.length">
							<div class="form-input mb-3">
								<label>انتخاب کسب کار</label>
								<ng-select
								bindLabel="name"
								bindValue="id"
								[clearable]="false"
								[items]="businessList"
								placeholder="انتخاب کنید"
								[readonly]="true"
								formControlName="business_id"
								>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['business_id']" [controlName]="'انتخاب کسب و کار '"></app-validator>
								</span>
								<span class="hint">کارفرما در قرارداد چه کسی باشد</span>
							</div>
						</div>
						<!-- انتحاب کارفرما -->
						<div class="col-md-12" *ngIf="employerList && employerList.length">
							<div class="form-input mb-3">
								<label>انتخاب کارفرما</label>
								<ng-select
								[clearable]="false"
								placeholder="انتخاب کنید"
								[multiple]="true"
								formControlName="employer_ids"
								>
									<ng-option *ngFor="let item of employerList" [value]="item.id">
										<div class="font-size-14">{{item.full_name}}</div>
									</ng-option>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['employee_ids']" [controlName]="'انتخاب کارفرما '"></app-validator>
								</span>
								<span class="hint">کارفرمایان در این قرارداد را اضافه کنید .</span>
							</div>
						</div>
						<!-- انتحاب کارمندان -->
						<div class="col-md-12" *ngIf="employeeList && employeeList.length">
							<div class="form-input mb-3">
								<label>انتخاب کارمندان</label>
								<ng-select
								[clearable]="false"
								placeholder="انتخاب کنید"
								[multiple]="true"
								(add)="AddAlowences($event)"
								(remove)="removeAlowences($event)"
								(change)="calcChildrenAllowance();"
								formControlName="employee_ids"
								>
								<ng-option *ngFor="let item of employeeList" [value]="item.id">
									<div class="font-size-14"><strong>{{item.full_name}}</strong></div>
									<span class="font-size-12"> سمت : {{ item.business_employee_info[0].business.posts[0].name }}
										|  تاریخ شروع به کار: <span dir="ltr"> {{ item.business_employee_info[0].employee_start_date }}</span>
										|  حقوق خالص : {{ item.business_employee_info[0].net_income }}
										| ساعت کاری در روز : {{ item.business_employee_info[0].work_hours_in_day }} ساعت
										| ساعت کاری در شب : {{ item.business_employee_info[0].work_hours_in_night ? item.business_employee_info[0].work_hours_in_night : 0 }} ساعت
										| بیمه   {{ item.business_employee_info[0].has_insurance ? 'دارد' : 'ندارد' }}
									</span>
									</ng-option>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['employee_ids']" [controlName]="'انتخاب کارمندان '"></app-validator>
								</span>
								<span class="hint">کارمندان در این قرارداد را اضافه کنید .</span>
							</div>
						</div>

							<!-- انتخاب قالب header قرارداد -->
							
					<div formArrayName="contract_header_template_info" class="col-12">
						<div *ngFor="let item of contractHeaderTemplateInfoListGroup.controls ; let i = index" [formGroupName]="i">
							<div class="form-input mb-3">
								<label>قالب سربرگ قرارداد</label>
								<ng-select
								
									formControlName="contract_header_template_id"
									bindLabel="name"
									bindValue="id"
									[items]="contractHeaderTemplatelist"
									placeholder="انتخاب کنید"
									[clearable]="true"
									(change)="setHeaderContractTheme()"
								>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['contract_header_template_id']"  [controlName]="'قالب قرارداد'">
									</app-validator>
								</span>
								<span class="hint">از بین قالب های سربرگ قرارداد یک قالب را انتخاب کنید.</span>
							</div>
							<!-- header txt -->
							<div *ngIf="this.contractHeaderTemplateInfoListGroup.controls[0].get('header_text').value" class="form-input mb-3">
								<label>سربرگ</label>
								<ckeditor  name="myckeditor" formControlName="header_text" [config]="ckeConfig"></ckeditor>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['header_text']" [controlName]="'قالب قرارداد'"></app-validator>
								</span>
								<span class="hint"></span>
							</div>
							
						</div>
					</div>

						<!-- عنوان قرارداد -->
						<div class="col-md-12 ">
							<div class="form-input mb-3">
								<label>عنوان قرارداد</label>
								<ion-input autocomplete="new-pass" formControlName="title"></ion-input>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['title']" [controlName]="'عنوان قرارداد'"></app-validator>
								</span>
								<span class="hint">برای قرارداد خود یک عنوان انتخاب کنید</span>
							</div>
						</div>
					<!--  -->
					<!-- انتخاب قالب قرارداد -->
					<div class="col-12">
						<div class="form-input mb-3">
							<label>قالب قرارداد</label>
							<ng-select
								formControlName="contract_template_id"
								bindLabel="name"
								bindValue="id"
								[items]="contractTemplatelist"
								placeholder="انتخاب کنید"
								[clearable]="false"
								(change)="setContractTheme()"
							>
							</ng-select>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['contract_template_id']"  [controlName]="'قالب قرارداد'">
								</app-validator>
							</span>
							<span class="hint">از بین قالب های قرارداد یک قالب را انتخاب کنید.</span>
						</div>
					</div>

					<!-- قرارداد -->
					<div class="col-12" >
						<div class="form-input mb-3">
							<label> قرارداد</label>
							<ckeditor name="myckeditor" formControlName="main_text" [config]="ckeConfig"></ckeditor>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['main_text']" [controlName]="'قالب قرارداد'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>
					<!--  -->
					<!-- شروط ضمن عقد قرارداد -->
					<div class="col-12" >
						<div class="form-input mb-3">
							<label> انتخاب شروط ضمن عقد قرارداد </label>
							<ng-select
								bindLabel="name"
								bindValue="id"
								placeholder="انتخاب کنید"
								[items]="contractConditionlist"
								(add)="addCondition()"
								formControlName="contract_condition_id"
								[multiple]="true"
								(remove)="RemoveCondition($event)"
								>
							</ng-select>
							<span class="error">
								<!-- <app-validator
									[controlName]="'قالب قرارداد'"></app-validator> -->
							</span>
							<span class="hint">اگر شرایطی برای قرارداد دارید از شروط ضمن عقد قرارداد انتخاب
								کنید</span>
						</div>
					</div>
					<!--  -->
					<!-- قرارداد -->
					<div class="col-12" formArrayName="provisos">
						<div class="row" *ngFor="let item of provisosFormGroup.controls ; let i = index" [formGroupName]="i">

							<div class="col-12" >
								<div class="form-input mb-3">
									<label> شروط ضمن عقد قرارداد {{ i }}</label>
									<ckeditor name="myckeditor"  formControlName="proviso_text" [config]="ckeConfig"></ckeditor>
									<span class="error">
										<app-validator [control]="item.get('proviso_text')" [controlName]="'شروط ضمن عقد قرارداد '"></app-validator>
									</span>
									<span class="hint"></span>
								</div>
							</div>
						</div>
					</div>

					<!-- نوشته ی انتهای قرارداد -->
					<div class="col-12" >
						<div class="form-input mb-3">
							<label> متن انتهای قرارداد</label>
							<ckeditor name="myckeditor" formControlName="end_text" [config]="ckeConfig"></ckeditor>
							<span class="error">
								<app-validator [control]="contractsForm.controls['end_text']" [controlName]="'متن انتهای قرارداد '"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>

					<!-- انتخاب قالب footer قرارداد -->
							
					<div formArrayName="contract_footer_template_info" class="col-12">
						<div *ngFor="let item of contractFooterTemplateInfoListGroup.controls ; let i = index" [formGroupName]="i">
							<div class="form-input mb-3">
								<label>قالب پاورقی قرارداد</label>
								<ng-select
									formControlName="contract_footer_template_id"
									bindLabel="name"
									bindValue="id"
									[items]="contractFooterTemplatelist"
									placeholder="انتخاب کنید"
									[clearable]="true"
									(change)="setFooterContractTheme()"
								>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['contract_footer_template_id']"  [controlName]="'قالب پاورقی قرارداد'">
									</app-validator>
								</span>
								<span class="hint">از بین قالب های پاورقی قرارداد یک قالب را انتخاب کنید.</span>
							</div>
							<!-- header txt -->
							<div *ngIf="this.contractFooterTemplateInfoListGroup.controls[0].get('footer_text').value" class="form-input mb-3">
								<label>پاورقی</label>
								<ckeditor name="myckeditor" formControlName="footer_text" [config]="ckeConfig"></ckeditor>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['footer_text']" [controlName]="'قالب پاورقی قرارداد'"></app-validator>
								</span>
								<span class="hint"></span>
							</div>
							
						</div>
					</div>

					<div class="col-12">
						<hr>
					</div>
				</div>
				<!-- end step one -->
				<!-- -------------------------------------------------------------- -->
				<!-- step two -->
				<div class="row align-items-start ">
					<!-- options -->
					<div class="col-md-6">
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">فیلد های محاسباتی</h2>
						</div>

						<!-- زمان شروع به کار -->
						<!-- <div class="form-input mb-3">
							<label>زمان شروع به کار</label>
							<ng-persian-datepicker (dateOnSelect)="CalculationField();manualCalculatePrices()" [timeMeridian]="true" [timeEnable]="false" [dateInitValue]="false" [dateIsGregorian]="true" dateFormat="jYYYY/jMM/jDD">
								<input type="text" formControlName="employee_start_date"  />
							 </ng-persian-datepicker>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['employee_start_date']" [controlName]="'زمان شروع به کار'"></app-validator>
							</span>
							<span class="hint">برای قرارداد خود یک عنوان انتخاب کنید</span>
						</div> -->
						<!-- زمان شروع قرارداد -->
						<div  class="form-input mb-3" >
							<label>زمان شروع قرارداد</label>
							<ng-persian-datepicker (dateOnSelect)="CalculationField();manualCalculatePrices()" [timeMeridian]="true" [timeEnable]="false" [dateIsGregorian]="true" dateFormat="jYYYY/jMM/jDD">
								<input type="text"  formControlName="start_date" />
							 </ng-persian-datepicker>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['start_date']" [controlName]="'زمان شروع قرارداد '"></app-validator>
							</span>
							<span class="hint">برای قرارداد خود یک عنوان انتخاب کنید</span>
						</div>
						<!-- زمان پایان قرارداد -->
						<div  class="form-input mb-3">
							<label>زمان پایان قرارداد</label>
							<ng-persian-datepicker (dateOnSelect)="CalculationField();manualCalculatePrices()" [timeMeridian]="true" [timeEnable]="false" [dateIsGregorian]="true" dateFormat="jYYYY/jMM/jDD">
								<input type="text" formControlName="end_date" />
							 </ng-persian-datepicker>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['end_date']" [controlName]="' زمان پایان قرارداد'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
						<!-- سال عقد قرارداد -->
						<div class="form-input mb-3">
							<label>سال عقد قرارداد</label>
							<ng-select
								bindLabel="contract_year"
								bindValue="contract_year"
								placeholder="انتخاب کنید"
								[items]="severanceBaseCalculationList"
								formControlName="contract_year"
								[clearable]="false"
								(change)="CalculationField();manualCalculatePrices();calcChildrenAllowance();"
								>
							</ng-select>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['contract_year']" [controlName]="' سال عقد قرارداد'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
						<!-- دستمزد روزانه -->
						<div class="form-input mb-3">
							<label>دستمزد  <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span><span *ngIf="!contractsForm.value.is_hourly_contract">(روزانه)</span></label>
							<ion-input  [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="wage"(ionChange)="manualCalculatePrices()"debounce="1000"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['wage']" [controlName]="'دستمزد روزانه'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق سنوات -->
						<div class="form-input mb-3">
							<label>حق سنوات<span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span><span *ngIf="!contractsForm.value.is_hourly_contract">(ماهانه)</span></label>
							<ion-input [readonly]="true" autocomplete="new-pass" formControlName="severance_pay"(ionChange)="manualCalculatePrices()"debounce="1000"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['severance_pay']" [controlName]="'حق سنوات'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق بن -->
						<div class="form-input mb-3">
							<label>حق بن <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span><span *ngIf="!contractsForm.value.is_hourly_contract">(ماهانه)</span></label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="grocery_allowance"(ionChange)="manualCalculatePrices()"debounce="1000"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['name']" [controlName]="'نام شرکت'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق مسکن -->
						<div class="form-input mb-3">
							<label>حق مسکن <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span><span *ngIf="!contractsForm.value.is_hourly_contract">(ماهانه)</span></label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="housing_allowance"(ionChange)="manualCalculatePrices()"debounce="1000"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['housing_allowance']" [controlName]="'حق مسکن'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق اولاد (برای یک فرزند) -->
						<!-- <div class="form-input mb-3">
							<label>حق اولاد (برای یک فرزند) <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span><span *ngIf="!contractsForm.value.is_hourly_contract">(ماهانه)</span></label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="children_allowance"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['children_allowance']" [controlName]="'حق اولاد'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div> -->
						<!-- عیدی -->
						<div class="form-input mb-3">
							<label>عیدی<span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span><span *ngIf="!contractsForm.value.is_hourly_contract">(ماهانه)</span></label>
							<ion-input [readonly]="true" autocomplete="new-pass" formControlName="new_year_gift"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['new_year_gift']" [controlName]="'عیدی '"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- پاداش -->
						<div class="form-input mb-3">
							<label>پاداش<span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span><span *ngIf="!contractsForm.value.is_hourly_contract">(ماهانه)</span></label>
							<ion-input [readonly]="true" autocomplete="new-pass" formControlName="bonus"></ion-input>
							<span class="error">

								<app-validator #validation [control]="contractsForm.controls['bonus']" [controlName]="'پاداش '"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- هزینه ی غذا -->
						<div class="form-input mb-3">
							<label> هزینه ی غذا ( ماهانه)</label>
							<ion-input autocomplete="new-pass" formControlName="food_cost"></ion-input>
							<span class="error">
								<!-- <app-validator [control]="businessForm.controls['name']" [controlName]="'نام شرکت'"></app-validator> -->
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- هزینه پانسیون -->
						<div class="form-input mb-3">
							<label> هزینه پانسیون (ماهانه)</label>
							<ion-input autocomplete="new-pass" formControlName="pension_cost"></ion-input>
							<span class="error">
								<!-- <app-validator [control]="businessForm.controls['name']" [controlName]="'نام شرکت'"></app-validator> -->
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<hr>
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">حق اولاد ها</h2>
						</div>
						<!-- all children allowunce -->
						<div formArrayName="children_allowances">
							<div *ngFor="let item of childrenAllowanceFormGroup.controls ; let i = index" [formGroupName]="i"  class="form-input mb-3">
								<label >
									حق اولاد <span [innerText]="returnchildrenAllowanceName(item['value']['employee_id'])"></span>
									<span *ngIf="contractsForm.value.is_hourly_contract"> (ساعتی)</span>
									<span *ngIf="!contractsForm.value.is_hourly_contract"> (ماهانه)</span>
								</label>
								<ion-input type="number" readonly=""autocomplete="new-pass" formControlName="children_allowance"></ion-input>
								<span class="error">
									<!-- <app-validator #validation [control]="contractsForm.controls['name']" [controlName]="'نام شرکت'"></app-validator> -->
								</span>
								<span class="hint">مبلغ به ریال است</span>
							</div>
						</div>
						<hr>
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">موارد اضافه حقوق</h2>
						</div>
						<!-- extra fileds -->
						<div formArrayName="extra_fields" *ngIf="dataList">
							<div *ngFor="let item of extraFieldsFormGroup.controls ; let i = index" [formGroupName]="i"  class="form-input mb-3">
								<label >
									<span [innerText]="returnNameExtraField(item['value']['contract_extra_field_id'])"></span>
									<span *ngIf="contractsForm.value.is_hourly_contract"> (ساعتی)</span>
									<span *ngIf="!contractsForm.value.is_hourly_contract"> (ماهانه)</span>
								</label>
								<ion-input type="number" autocomplete="new-pass" (ionChange)="CalculationField();manualCalculatePrices()" debounce="1000"  formControlName="price"></ion-input>
								<span class="error">
									<!-- <app-validator [control]="businessForm.controls['name']" [controlName]="'نام شرکت'"></app-validator> -->
								</span>
								<span class="hint">مبلغ به ریال است</span>
							</div>
						</div>
					</div>
					<div class="col-6 position-sticky top-15" >
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">عملگرهای قرارداد</h2>
						</div>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه پایه سنوات</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();manualCalculatePrices()"debounce="1000" formControlName="calc_severance_base" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه حق سنوات به صورت ماهانه</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();manualCalculatePrices()"debounce="1000" formControlName="calc_severance_pay_monthly" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه پاداش به صورت ماهانه</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();manualCalculatePrices()"debounce="1000" formControlName="calc_bonus_monthly" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه عیدی به صورت ماهانه</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();manualCalculatePrices()"debounce="1000" formControlName="calc_new_year_gift_monthly" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>قرارداد مربوط به آینده است؟</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();manualCalculatePrices();calcChildrenAllowance()"debounce="1000" formControlName="is_contract_for_future" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه قرارداد به صورت ساعتی</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();manualCalculatePrices();calcChildrenAllowance();"debounce="1000" formControlName="is_hourly_contract" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>توقف محاسبات و وارد کردن دستی </ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();manualCalculatePrices()" formControlName="is_manual"debounce="1000" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>

					<!--  -->
					<ion-card class="mb-4 mx-0" mode="ios">
						<ion-item color="white" mode="md" lines="none">
							<ion-label>محاسبه مرخصی استفاده نشده به صورت ماهانه</ion-label>
							<ion-toggle color="success" formControlName="calc_unused_leave_monthly"    slot="start"></ion-toggle>
						</ion-item>
					</ion-card>
					<!--  -->
					<ion-card class="mb-4 mx-0" mode="ios">
						<ion-item color="white" mode="md" lines="none">
							<ion-label>محاسبه مرخصی بدون حقوق به صورت ماهانه</ion-label>
							<ion-toggle color="success" formControlName="calc_without_pay_leave_monthly"    slot="start"></ion-toggle>
						</ion-item>
					</ion-card>
					<!--  -->
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه مالیات بر حقوق</ion-label>
								<ion-toggle color="success" formControlName="calc_payroll_tax"   slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
								<!--  -->
						<ion-button  *ngIf="!this.contractsForm.get('is_manual').value" (click)="CalculationField();manualCalculatePrices()" expand="block" color="primary" fill="outline" >محاسبه مجدد</ion-button>
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-12"><hr></div>
					<!-- next step  -->
					<div class="col-lg-7 col-md-3"></div>
					<div class="col-lg-2 col-md-4">
						<!-- <ion-button expand="block" type="button" color="dark" shape="round" fill="outline">پاک کردن فرم</ion-button> -->
					</div>
					<div class="col-lg-3 col-md-5">
						<ion-button expand="block" type="submit" color="success" shape="round" fill="solid">ویرایش  قرارداد</ion-button>
					</div>
				</div>
			</div>
		</form>
	</main>
</ion-content>
