.content-main{
    min-height: 80vh;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // align-content: center;
    // justify-content: center;
    margin: 15px auto;
    align-items: center;
    app-business-report-payroll-summarypayroll,
    app-business-report-leave-usedleave,
    app-business-report-leave-unusedleave,
    app-business-report-leave-withoutpayleav,
    app-business-report-leave-paidleave,
    app-business-report-leave-unpaidleave{
        min-height: 200px;
        margin: 2px auto;
    }
}