<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content *ngIf="dataList?.title">

	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> جزییات تعهدنامه {{ dataList?.title }} </h1>
					<p class="dsec">
						تعهدنامه {{ dataList?.business_info.name }} با {{dataList?.employee_info.full_name}} ( تاریخ شروع : {{dataList?.start_date}} )
					</p>
				</div>
			</div>
		
		
			
			<div class="col-lg-auto">
				<!-- <ion-button shape="round" [routerLink]="['/contracts/print/'+dataList.id]" color="success" *ngIf="global.userPermision['contract_print']">
					<ion-icon slot="start" name="print"></ion-icon>
					پرینت
				</ion-button> -->

				<ion-button shape="round" [routerLink]="['/recognizance/edit',dataList.id]" color="secondary"
					*ngIf="global.userPermision['recognizance_edit']">
					<ion-icon slot="start" name="build"></ion-icon>
					ویرایش تعهدنامه
				</ion-button>

			</div>
		</div>
	</div>
	<!-- main -->
	<main>
  
			<div class="container">
				
				<ion-list>
					<ion-list-header> سربرگ</ion-list-header>
					<ion-card class="mb-4 main-text" color="white">
						<ion-card-content>
							<div class="inner-html-dev"
								[innerHTML]="(dataList?.recognizance_header_template_info?.header_text)?dataList?.recognizance_header_template_info?.header_text:'این قرارداد قالب سربرگ ندارد!'|safeHtml">
							</div>
						</ion-card-content>
					</ion-card>
				</ion-list>
				<!-- متن -->
				<ion-list>
					<ion-list-header>متن تعهدنامه</ion-list-header>
					<ion-card class="mb-4 main-text" color="white">
						<ion-card-content>
							<div class="inner-html-dev"
								[innerHTML]="dataList.main_text?dataList?.main_text:'متنی یافت نشد !'|safeHtml"></div>
						</ion-card-content>
					</ion-card>
				</ion-list>
			
				<!-- -->
				<ion-list>
					<ion-list-header>متن پایانی تعهدنامه</ion-list-header>
					<ion-card class="mb-4" color="white">
						<ion-card-content>
							<div class="inner-html-dev"
								[innerHTML]="dataList.end_text?dataList?.end_text:'این قرارداد متن پایانی ندارد! '|safeHtml">
							</div>
						</ion-card-content>
					</ion-card>
				</ion-list>
				<!--  -->


				<!-- footer -->
				<ion-list>
					<ion-list-header> پاورقی</ion-list-header>
					<ion-card class="mb-4 main-text" color="white">
						<ion-card-content>
							<div class="inner-html-dev"
								[innerHTML]="dataList?.recognizance_footer_template_info?.footer_text?dataList?.recognizance_footer_template_info?.footer_text:'این قرارداد قالب پاورقی ندارد !'|safeHtml">
							</div>
						</ion-card-content>
					</ion-card>
				</ion-list>
			</div>
		

  </main>
</ion-content>
