<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title">افزودن قرار داد جدید</h1>
					<p class="dsec">در این قسمت شما میتوانید یک قرار داد جدید اضافه کنید
					</p>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-button shape="round" color="medium" fill="outline">
					<ion-back-button defaultHref="contracts/list" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
					</ion-back-button>
					<!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
					بازگشت -->
				</ion-button>
			</div>
		</div>
	</div>
	<main>
		<form [formGroup]="contractsForm" (ngSubmit)="onSubmit()">
			<!--  -->
			<div class="container mt-4">
				<!-- step 0  -->
				<div class="row mb-4" *ngIf=" step === 1 ">
					<div class="col-12 my-4">
						<div class="title-1">
							<h2 class="title">تکمیل اطلاعات اولیه قرار داد</h2>
							<p class="dsec">قسمت اول مشخص کردن افراد در قرار داد قالب قرار داد و شروط ضمن عقد قرار داد
							</p>
						</div>
					</div>
						<!-- انتخاب کسب و کار -->
						<!-- *ngIf="businessList && businessList.length" -->
						<div class="col-md-12" >
							<div class="form-input mb-3">
								<label>انتخاب کسب کار</label>
								<!-- <ng-select
								bindLabel="name"
								bindValue="id"
								[clearable]="false"
								[items]="businessList"
								placeholder="انتخاب کنید"
								(change)="GetEmployee()"
								formControlName="business_id"
								>
								</ng-select> -->
								
								<ng-select
								[items]="businesslist$ | async"
								placeholder="انتخاب کسب و کار"
								[loading]="businessInputLoading"
								bindLabel="name"
								bindValue="id"
								typeToSearchText="لطفا حداقل {{minLengthTerm}} کارکتر تایپ کنید"
								[typeahead]="businessInput$"
								formControlName="business_id"
								[clearable]="true"
								(change)="GetEmployee()"
								loadingText="لطفا صبر کنید ..."
								notFoundText="مناسفانه کسب و کاری یافت نشد"
								
								
							
							>
							</ng-select>

								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['business_id']" [controlName]="'انتخاب کسب و کار '"></app-validator>
								</span>
								<span class="hint"> این قرارداد برای کدام  کسب کار است	</span>
							</div>
						</div>
					
						<!-- انتحاب کارمندان -->
						<div class="col-md-12" *ngIf="employeeList && employeeList.length">
							<div class="form-input mb-3">
								<label>انتخاب کارمندان</label>
								<ng-select
								[clearable]="false"
								placeholder="انتخاب کنید"
								[multiple]="true"
								(add)="AddAlowences($event)"
								(remove)="removeAlowences($event)"
								(change)="calcChildrenAllowance();"
								formControlName="employee_ids"
								
								>
								<ng-option *ngFor="let item of employeeList" [value]="item.id">
									<div class="font-size-14"><strong>{{item.full_name}}</strong></div>
									<span class="font-size-12">
										 سمت : {{ item.business_employee_info[0].business.posts[0].name }}
										|  حقوق خالص : {{ item.business_employee_info[0].net_income }}
										| ساعت کاری در روز : {{ item.business_employee_info[0].work_hours_in_day }} ساعت
										| ساعت کاری در شب : {{ item.business_employee_info[0].work_hours_in_night ? item.business_employee_info[0].work_hours_in_night : 0 }} ساعت
										| بیمه   {{ item.business_employee_info[0].has_insurance ? 'دارد' : 'ندارد' }}

									</span>
									</ng-option>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['employee_ids']" [controlName]="'انتخاب کارمندان '"></app-validator>
								</span>
								<span class="hint">کارمندان در این قرار داد را اضافه کنید .</span>
							</div>
						</div>
							<!-- انتحاب کارفرما -->
						<div class="col-md-12" *ngIf="employerList && employerList.length">
							<div class="form-input mb-3">
								<label>انتخاب کارفرما</label>
								<ng-select
								[clearable]="false"
								placeholder="انتخاب کنید"
								[multiple]="true"
								formControlName="employer_ids"
								>
									<ng-option *ngFor="let item of employerList" [value]="item.id">
										<div class="font-size-14">{{item.full_name}}</div>
									</ng-option>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['employee_ids']" [controlName]="'انتخاب کارفرما '"></app-validator>
								</span>
								<span class="hint">کارفرمایان در این قرار داد را اضافه کنید .</span>
							</div>
						</div>
						<!-- عنوان قرار داد -->
						<div class="col-md-12 ">
							<div class="form-input mb-3">
								<label>عنوان قرار داد</label>
								<ion-input autocomplete="new-pass" formControlName="title"></ion-input>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['title']" [controlName]="'نام شرکت'"></app-validator>
								</span>
								<span class="hint">برای قرار داد خود یک عنوان انتخاب کنید</span>
							</div>
						</div>
					<!--  -->
					<!-- انتخاب قالب header قرار داد -->
							
					<div formArrayName="contract_header_template_info" class="col-12">
						<div *ngFor="let item of contractHeaderTemplateInfoListGroup.controls ; let i = index" [formGroupName]="i">
							<div class="form-input mb-3">
								<label>قالب سربرگ قرار داد</label>
								<ng-select
									formControlName="contract_header_template_id"
									bindLabel="name"
									bindValue="id"
									[items]="contractHeaderTemplatelist"
									placeholder="انتخاب کنید"
									[clearable]="true"
									(change)="setHeaderContractTheme()"
								>
								</ng-select>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['contract_header_template_id']"  [controlName]="'قالب قرار داد'">
									</app-validator>
								</span>
								<span class="hint">از بین قالب های سربرگ قرار داد یک قالب را انتخاب کنید.</span>
							</div>
							<!-- header txt -->
							<div *ngIf="this.contractHeaderTemplateInfoListGroup.controls[0].get('header_text').value" class="form-input mb-3">
								<label>سربرگ</label>
								<ckeditor name="myckeditor" formControlName="header_text" [config]="ckeConfig"></ckeditor>
								<span class="error">
									<app-validator #validation [control]="contractsForm.controls['header_text']" [controlName]="'قالب قرار داد'"></app-validator>
								</span>
								<span class="hint"></span>
							</div>
							
						</div>
					</div>
					<!-- انتخاب قالب قرار داد -->
					<div class="col-12">
						<div class="form-input mb-3">
							<label>قالب قرار داد</label>
							<ng-select
								formControlName="contract_template_id"
								bindLabel="name"
								bindValue="id"
								[items]="contractTemplatelist"
								placeholder="انتخاب کنید"
								[clearable]="false"
								(change)="setContractTheme()"
							>
							</ng-select>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['contract_template_id']"  [controlName]="'قالب قرار داد'">
								</app-validator>
							</span>
							<span class="hint">از بین قالب های قرار داد یک قالب را انتخاب کنید.</span>
						</div>
					</div>
					
					<!-- قرار داد -->
					<div class="col-12" >
						<div class="form-input mb-3">
							<label> قرار داد</label>
							<ckeditor name="myckeditor" formControlName="main_text" [config]="ckeConfig"></ckeditor>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['main_text']" [controlName]="'قالب قرار داد'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>
					<!--  -->
					<!-- شروط ضمن عقد قرار داد -->
					<div class="col-12" >
						<div class="form-input mb-3">
							<label> انتخاب شروط ضمن عقد قرار داد </label>
							<ng-select
								bindLabel="name"
								bindValue="id"
								placeholder="انتخاب کنید"
								[items]="contractConditionlist"
								(add)="addCondition()"
								formControlName="contract_condition_id"
								[multiple]="true"
								(remove)="RemoveCondition($event)"
								>
							</ng-select>
							<span class="error">
								<!-- <app-validator #validation [control]="contractsForm.controls['contract_condition_id']" [controlName]="'قالب قرار داد'"></app-validator> -->
							</span>
							<span class="hint">اگر شرایطی برای قرار داد دارید از شروط ضمن عقد قرار داد انتخاب
								کنید</span>
						</div>
					</div>
					<!--  -->
					<!-- قرار داد -->
					<div class="col-12" formArrayName="provisos">
						<div class="row" *ngFor="let item of provisosFormGroup.controls ; let i = index" [formGroupName]="i">

							<div class="col-12" >
								<div class="form-input mb-3">
									<label> شروط ضمن عقد قرار داد {{ i }}</label>
									<ckeditor name="myckeditor"  formControlName="proviso_text" [config]="ckeConfig"></ckeditor>
									<span class="error">
										<app-validator #validation [control]="item.get('proviso_text')" [controlName]="'شروط ضمن عقد قرار داد '"></app-validator>
									</span>
									<span class="hint"></span>
								</div>
							</div>
						</div>
					</div>

					<!-- نوشته ی انتهای قرار داد -->
					<div class="col-12" >
						<div class="form-input mb-3">
							<label> متن انتهای قرار داد</label>
							<ckeditor name="myckeditor" formControlName="end_text" [config]="ckeConfig"></ckeditor>
							<span class="error">
								<!-- <app-validator #validation [control]="contractsForm.controls['end_text']" [controlName]="'متن انتهای قرار داد '"></app-validator> -->
							</span>
							<span class="hint"></span>
						</div>
					</div>
						<!-- انتخاب قالب footer قرار داد -->
							
						<div formArrayName="contract_footer_template_info" class="col-12">
							<div *ngFor="let item of contractFooterTemplateInfoListGroup.controls ; let i = index" [formGroupName]="i">
								<div class="form-input mb-3">
									<label>قالب پاورقی قرار داد</label>
									<ng-select
										formControlName="contract_footer_template_id"
										bindLabel="name"
										bindValue="id"
										[items]="contractFooterTemplatelist"
										placeholder="انتخاب کنید"
										[clearable]="true"
										(change)="setFooterContractTheme()"
									>
									</ng-select>
									<span class="error">
										<app-validator #validation [control]="contractsForm.controls['contract_footer_template_id']"  [controlName]="'قالب پاورقی قرار داد'">
										</app-validator>
									</span>
									<span class="hint">از بین قالب های پاورقی قرار داد یک قالب را انتخاب کنید.</span>
								</div>
								<!-- header txt -->
								<div *ngIf="this.contractFooterTemplateInfoListGroup.controls[0].get('footer_text').value" class="form-input mb-3">
									<label>پاورقی</label>
									<ckeditor name="myckeditor" formControlName="footer_text" [config]="ckeConfig"></ckeditor>
									<span class="error">
										<app-validator #validation [control]="contractsForm.controls['footer_text']" [controlName]="'قالب پاورقی قرار داد'"></app-validator>
									</span>
									<span class="hint"></span>
								</div>
								
							</div>
						</div>
					<div class="col-12">
						<hr>
					</div>
				</div>
				<!-- end step one -->
				<!-- -------------------------------------------------------------- -->
				<!-- step two -->
				<div class="row align-items-start ">
					<!-- options -->
					<div class="col-md-6">
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">فیلد های محاسباتی</h2>
						</div>

						<!-- زمان شروع به کار -->
						<!-- <div class="form-input mb-3">
							<label>زمان شروع به کار</label>
							<ng-persian-datepicker (dateOnSelect)="CalculationField()" [timeMeridian]="true" [timeEnable]="false" [dateIsGregorian]="true" dateFormat="jYYYY/jMM/jDD">
								<input type="text"   formControlName="employee_start_date" />
							 </ng-persian-datepicker>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['employee_start_date']" [controlName]="'زمان شروع به کار'"></app-validator>
							</span>
							<span class="hint"></span>
						</div> -->
						<!-- زمان شروع به کار -->
						<div class="form-input mb-3">
							<label>زمان شروع قرارداد</label>
							<ng-persian-datepicker (dateOnSelect)="CalculationField()" [timeMeridian]="true" [timeEnable]="false" [dateIsGregorian]="true" dateFormat="jYYYY/jMM/jDD">
								<input type="text"   formControlName="start_date" />
							 </ng-persian-datepicker>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['start_date']" [controlName]="'زمان شروع قرار داد '"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
						<!-- زمان شروع قرار داد -->
						<div class="form-input mb-3">
							<label>زمان پایان قرارداد</label>
							<ng-persian-datepicker (dateOnSelect)="CalculationField()" [timeMeridian]="true" [timeEnable]="false" [dateIsGregorian]="true" dateFormat="jYYYY/jMM/jDD">
								<input type="text" formControlName="end_date" />
							 </ng-persian-datepicker>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['end_date']" [controlName]="' زمان پایان قرار داد'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
						<!-- سال عقد قرار داد -->
						<div class="form-input mb-3">
							<label>سال عقد قرار داد</label>
							<ng-select
								bindLabel="contract_year"
								bindValue="contract_year"
								placeholder="انتخاب کنید"
								[items]="severanceBaseCalculationList"
								formControlName="contract_year"
								[clearable]="false"
								(change)="CalculationField();calcChildrenAllowance();"
								>
							</ng-select>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['contract_year']" [controlName]="' سال عقد قرار داد'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
						<!-- دستمزد روزانه -->
						<div class="form-input mb-3">
							<label>دستمزد روزانه <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span></label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="wage"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['wage']" [controlName]="'دستمزد روزانه'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق سنوات -->
						<div class="form-input mb-3">
							<label>حق سنوات</label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="severance_pay"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['severance_pay']" [controlName]="'حق سنوات'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق بن -->
						<div class="form-input mb-3">
							<label>حق بن <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span></label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="grocery_allowance"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['name']" [controlName]="'نام شرکت'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق مسکن -->
						<div class="form-input mb-3">
							<label>حق مسکن <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span></label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="housing_allowance"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['housing_allowance']" [controlName]="'حق مسکن'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- حق اولاد (برای یک فرزند) -->
						<!-- <div class="form-input mb-3">
							<label>حق اولاد (برای یک فرزند) <span *ngIf="contractsForm.value.is_hourly_contract">(ساعتی)</span></label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="children_allowance"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['children_allowance']" [controlName]="'حق اولاد'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div> -->
						<!-- عیدی -->
						<div class="form-input mb-3">
							<label>عیدی</label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="new_year_gift"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['new_year_gift']" [controlName]="'عیدی '"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- پاداش -->
						<div class="form-input mb-3">
							<label>پاداش</label>
							<ion-input [readonly]="!this.contractsForm.get('is_manual').value" autocomplete="new-pass" formControlName="bonus"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['bonus']" [controlName]="'پاداش '"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- هزینه ی غذا -->
						<div class="form-input mb-3">
							<label>هزینه ی غذا</label>
							<ion-input autocomplete="new-pass" formControlName="food_cost"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['food_cost']" [controlName]="'هزینه غذا'"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<!-- هزینه پانسیون -->
						<div class="form-input mb-3">
							<label>هزینه پانسیون</label>
							<ion-input autocomplete="new-pass" formControlName="pension_cost"></ion-input>
							<span class="error">
								<app-validator #validation [control]="contractsForm.controls['pension_cost']" [controlName]="'هزینه پانسیون '"></app-validator>
							</span>
							<span class="hint">مبلغ به ریال است</span>
						</div>
						<hr>
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">حق اولاد ها</h2>
						</div>
						<!-- all children allowunce -->
						<div formArrayName="children_allowances">
							<div *ngFor="let item of childrenAllowanceFormGroup.controls ; let i = index" [formGroupName]="i"  class="form-input mb-3">
								<label >
									حق اولاد <span [innerText]="returnchildrenAllowanceName(item['value']['employee_id'])"></span>
									<span *ngIf="contractsForm.value.is_hourly_contract"> (ساعتی)</span>
								</label>
								<ion-input type="number" readonly=""autocomplete="new-pass" formControlName="children_allowance"></ion-input>
								<span class="error">
									<!-- <app-validator #validation [control]="contractsForm.controls['name']" [controlName]="'نام شرکت'"></app-validator> -->
								</span>
								<span class="hint">مبلغ به ریال است</span>
							</div>
						</div>
						<hr>
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">موارد اضافه حقوق</h2>
						</div>
						<!-- extra fileds -->
						<div formArrayName="extra_fields">
							<div *ngFor="let item of extraFieldsFormGroup.controls ; let i = index" [formGroupName]="i"  class="form-input mb-3">
								<label >
									<span [innerText]="returnNameExtraField(item['value']['contract_extra_field_id'])"></span>
									<span *ngIf="contractsForm.value.is_hourly_contract"> (ساعتی)</span>
								</label>
								<ion-input min="0" type="number" autocomplete="new-pass" (ionChange)="CalculationField()" debounce="500"  formControlName="price"></ion-input>
								<span class="error">
									<!-- <app-validator #validation [control]="contractsForm.controls['name']" [controlName]="'نام شرکت'"></app-validator> -->
								</span>
								<span class="hint">مبلغ به ریال است</span>
							</div>
						</div>
					</div>
					<div class="col-6 position-sticky top-15">
						<!-- title -->
						<div class="title-1 mb-4">
							<h2 class="title">عملگرهای قرار داد</h2>
						</div>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه پایه سنوات</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField()" formControlName="calc_severance_base" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه حق سنوات به صورت ماهانه</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField()" formControlName="calc_severance_pay_monthly" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه پاداش به صورت ماهانه</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField()" formControlName="calc_bonus_monthly" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه عیدی به صورت ماهانه</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField()" formControlName="calc_new_year_gift_monthly" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>قرارداد مربوط به آینده است؟</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField()" formControlName="is_contract_for_future" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه قرار داد به صورت ساعتی</ion-label>
								<ion-toggle color="success" (ionChange)="CalculationField();calcChildrenAllowance();" formControlName="is_hourly_contract" slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>توقف محاسبات و وارد کردن دستی</ion-label>
								<ion-toggle color="success" formControlName="is_manual" (ionChange)="CalculationField()"  slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه مرخصی استفاده نشده</ion-label>
								<ion-toggle color="success" formControlName="calc_unused_leave_monthly"    slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-card class="mb-4 mx-0" mode="ios">
							<ion-item color="white" mode="md" lines="none">
								<ion-label>محاسبه مالیات بر حقوق</ion-label>
								<ion-toggle color="success" formControlName="calc_payroll_tax"   slot="start"></ion-toggle>
							</ion-item>
						</ion-card>
						<!--  -->
						<ion-button *ngIf="!this.contractsForm.get('is_manual').value" (click)="CalculationField()" expand="block" color="primary" fill="outline" >محاسبه مجدد</ion-button>

					</div>
				</div>
				<div class="row mb-5">
					<div class="col-12"><hr></div>
					<!-- next step  -->
					<div class="col-lg-7 col-md-3"></div>
					<div class="col-lg-2 col-md-4">
						<!-- <ion-button expand="block" type="button" color="medium" shape="round"  fill="outline">پاک کردن فرم</ion-button> -->
					</div>
					<div class="col-lg-3 col-md-5">
						<ion-button expand="block" type="submit" color="success" shape="round" fill="solid">ثبت  قرار داد</ion-button>
					</div>
				</div>
			</div>
		</form>
	</main>
</ion-content>
