<ion-card color="white" class="ion-no-padding ion-no-margin overfow-visible " [class.settlement]="isCollaboration">
	<ion-item class="overfow-visible" button color="white" lines="none" [attr.detail]="!contractid " [attr.detail]="!businessId ">
		<ion-thumbnail [routerLink]="['/employees/detail',employee?.id]" slot="start">
			<ion-img
				[src]=" employee?.media?.employee_image?.options.subSizes['1x'] ? employee?.media?.employee_image?.options?.subSizes['1x'] :  './assets/img/employee-img.png' ">
			</ion-img>
		</ion-thumbnail>
		<ion-label>
			<div [ngClass]="{'settlementNotConfrim':this.settlementId&&!isCollaboration}" class="d-inline-flex ">
				<h2  [routerLink]="['/employees/detail',employee?.id]"class="title">{{ employee?.first_name }} {{ employee?.last_name }}</h2>
				<ion-chip class="d-none d-lg-inline-flex" [routerLink]="[ '/settlement/edit',settlementId]"  *ngIf="this.settlementId&&!isCollaboration" color="danger" mode="ios" outline="true">
					<ion-label>در انتظار تایید تسویه حساب...</ion-label>
				</ion-chip>
				
			</div>
			
			<p [routerLink]="['/employees/detail',employee?.id]" class="posts"><span *ngFor="let item of employee.posts"> {{ item.name }} </span>
				<ion-text  *ngIf="this.settlementId&&!isCollaboration" color="danger" class="d-inline-flex d-lg-none">
					<span>
						(تسویه حساب تایید نشده)	
					</span>
				</ion-text>
			</p>
		</ion-label>
		<!-- <ion-chip *ngIf="contractid" slot="end" color="primary"
			[routerLink]="['/contracts/print',contractid,employee?.id]">
			<ion-icon name="print"></ion-icon>
			<ion-label color="dark"> پرینت قرارداد</ion-label>
		</ion-chip> -->
		<ion-buttons *ngIf="businessId" class="justify-content-end">
			<ion-button fill="clear" *ngIf="global.userPermision['payroll_base_info_settlement_addition_add']&&!isCollaboration" class="px-0 mx-0 tooltip-show" [routerLink]=" settlementId?[ '/settlement/edit',settlementId]:[ '/settlement/add',businessId]"  tooltip="تسویه حساب"  >
				<ion-icon size="large" color="medium" slot="icon-only" src="/assets/svg/settlementIcon.svg">
				</ion-icon>
			</ion-button>
			<!-- <ion-button  *ngIf="global.userPermision['payroll_base_info_settlement_addition_edit']&&isCollaboration&&settlementId"  fill="clear" class="px-0 mx-0 tooltip-show" [routerLink]="['/settlement/edit',businessId,settlementId]"  tooltip="ویرایش تسویه حساب"  >
				<ion-icon size="large" color="medium" slot="icon-only" src="/assets/svg/settlementIcon.svg">
				</ion-icon>
			</ion-button> -->
			<ion-button fill="clear" class="px-0 mx-0 tooltip-show" (click)="removeItem(deleteId)"  tooltip="حذف"  >
				<ion-icon size="small" color="medium" slot="icon-only" name="trash">
				</ion-icon>
			</ion-button>
			<ion-button fill="clear" class="px-0 mx-0 tooltip-show" [routerLink]="['/businesses/edit-employee/', businessId ]" tooltip="ویرایش" >
				<ion-icon size="small" color="medium" slot="icon-only" name="build">
				</ion-icon>
			</ion-button>
			<ion-button fill="clear" class="px-0 mx-0 tooltip-show" [routerLink]="['/employees/detail/', employee?.id]" tooltip="جزییات" >
				<ion-icon size="small" color="medium" slot="icon-only" name="search">
				</ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons *ngIf="contractid" class="justify-content-end">
			<ion-button  *ngIf="!isSentence&&!loadingDownload" fill="clear" class="px-0 mx-0 tooltip-show" (click)="download(contractid,employee?.id, employee?.first_name , employee?.last_name )"  tooltip="دانلود PDF"  download="MyFavicon" >
				<ion-icon size="small" color="medium" slot="icon-only" name="download">
				</ion-icon>
			</ion-button>
			<ion-spinner  color="medium" *ngIf="loadingDownload" name="lines-small"></ion-spinner>
			<ion-button *ngIf="!isSentence" fill="clear" class="px-0 mx-0 tooltip-show" [routerLink]="['/contracts/print',contractid,employee?.id]" tooltip="چاپ" >
				<ion-icon size="small" color="medium" slot="icon-only" name="print">
				</ion-icon>
			</ion-button>
		
			  <!-- *ngIf="!isSentence" -->
			<ion-button fill="clear" class="px-0 mx-0 tooltip-show" [routerLink]="['/contracts/sentence', contractid,'add']" [queryParams]="{singel: true,id:businessEmId}"  tooltip=" افزودن حکم تکی" >
				<ion-icon size="small" color="medium" slot="icon-only" name="document-text">
				</ion-icon>
			</ion-button>
			<!-- <ion-button  *ngIf="isSentence" fill="clear" class="px-0 mx-0 tooltip-show" [routerLink]="['/contracts/sentence/add/', contractid]"  tooltip=" افزودن حکم تکی" >
				<ion-icon size="small" color="medium" slot="icon-only" name="document-text">
				</ion-icon>
			</ion-button> -->
		</ion-buttons>
	</ion-item>
</ion-card>
