<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title">ویرایش {{ pageTitle }}</h1>
					<p class="dsec">در این قسمت میتوانید {{ pageTitle }} را ویرایش کنید</p>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-back-button defaultHref="more/business-category" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<div class="row my-4">
				<div class="col-md-6">
					<form [formGroup]="editFrom" (submit)="onSubmit()">
						<!-- مربوط به سال -->
						<div class="form-input mb-3" *ngIf="this.businessCatgeories && this.businessCatgeories.length">
							<label>انتخاب دسته بندی والد</label>
							<ng-select
								[items]="businessCatgeories"
								formControlName="parent_id"
								bindLabel="name"
								bindValue="id"
								[clearable]="false"
								placeholder="انتخاب کنید"
							>
							</ng-select>
							<span class="hint">برای ساخت دسته بندی والد باید این دسته را بر روی دسته بندی والد قرار دهید . </span>
						</div>

						<!-- درصد افزایش نسبت به سال قبل -->
						<div class="form-input mb-3">
							<label>نام دسته بندی</label>
							<ion-input  type="text" autocomplete="new-pass" formControlName="name"></ion-input>
							<span class="error">
								<app-validator [control]="editFrom.controls['name']" [controlName]="'نام دسته بندی'"></app-validator>
							</span>
							<span class="hint">مثلا فست فود</span>
						</div>


						<hr>
						<div class="row ion-justify-content-between ion-align-items-center">
							<div class="col-5">
								<ion-button expand="block" color="medium" fill="outline" shape="round">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-7">
								<ion-button type="submit"  expand="block" color="success" fill="solid" shape="round">
									ویرایش {{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<ion-card mode="ios" color="white">
						<ion-card-header>
							<ion-card-title class="font-size-20">توضیحات {{ pageTitle }}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<p class="font-size-14 line-height-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
								طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
								شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
							<p class="font-size-14 line-height-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
								طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
								شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>

						</ion-card-content>
					</ion-card>
				</div>
			</div>
		</div>
	</main>
</ion-content>
