<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>

<ion-content *ngIf="dataList?.id">

	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title">عنوان درخواست : {{ dataList?.subject }} </h1>
					<p class="dsec">
						<span>جزییات درخواست #{{ dataList?.id }}</span>
					</p>
					<div class="dsec"><span class="status status-{{ dataList?.status }}"
							[innerText]="returnStatus(dataList?.status)"></span></div>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-button shape="round" color="medium" fill="outline" class="ml-3">
					<ion-back-button defaultHref="/profile/support" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
					</ion-back-button>
					<!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
					بازگشت -->
				</ion-button>
				<ion-button id="open-referred-modal" shape="round" color="secondary" >
					<ion-icon slot="start" name="arrow-undo"></ion-icon>
					ارجاع درخواست
				</ion-button>
				<ion-button shape="round" color="secondary" (click)="closeTicket()">
					<ion-icon slot="start" name="close-circle"></ion-icon>
					بستن درخواست
				</ion-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<!-- tiket list -->
			<div class="ticket-list">
				<div class="ticket-item user">
					<div class="ticket-description">
						<div class="row">
							<div class="dscription"  [class.col-12]="!true" [class.col-7]="true" [innerHTML]="dataList.content|safeHtml"></div>
							
														<ion-button  class="col-3" *ngIf="global.userPermision['payrolls_payroll_add']&&true" shape="round" color="success" (click)="submitPayroll()">
															<ion-icon slot="start" name="add-circle"></ion-icon>
															فیش حقوقی
														</ion-button>
						</div>

						<div class="date"> ارسال شده در : {{ dataList.createdAt }} </div>
					</div>
					<div class="ticket-info">
						<ion-avatar>
							<ion-img  [src]="dataList?.sender_info?.media  && dataList?.sender_info?.media.length ? dataList?.sender_info?.media[0]?.options?.subSizes['1x'] :  './assets/img/employee-img.png' "></ion-img>
						</ion-avatar>
						<div class="info">  {{ dataList.sender_info.first_name +' '+dataList.sender_info.last_name }} </div>
					</div>
				</div>
				<div class="ticket-item"  *ngFor="let item of dataList?.details" [class.admin]="item.responder_info.id!==dataList.sender_info.id" [class.user]="item.responder_info.id===dataList.sender_info.id">
					<div class="ticket-description">
						<div class="dscription" [innerHTML]="item.content|safeHtml"></div>
						<div class="date"> ارسال شده در : {{ item.createdAt }} </div>
					</div>
					<div class="ticket-info">
						<ion-avatar>
							<ion-img *ngIf="item.responder_info.id===dataList.sender_info.id" [src]="item?.responder_info?.media  && item?.responder_info?.media.length ? item?.responder_info?.media[0]?.options?.subSizes['1x'] :  './assets/img/employee-img.png' "></ion-img>
							<ion-img *ngIf="item.responder_info.id!==dataList.sender_info.id" [src]="item?.responder_info?.media  && item?.responder_info?.media.length ? item?.responder_info?.media[0]?.options?.subSizes['1x'] :  './assets/img/admin.png' "></ion-img>
						</ion-avatar>
						<div class="info">  {{ item.responder_info.first_name +' '+item.responder_info.last_name }} </div>
					</div>
				</div>
			</div>
			<!-- replay -->
			<hr>
			<form  [formGroup]="ticketform" (submit)="onSubmit()">
				<div class="form-input mb-3">
					<label> پاسخ</label>
					<ion-textarea rows="3" formControlName="content" autocomplete="new-pass">
					</ion-textarea>
					<span class="error">
						<app-validator [control]="ticketform.get('content')" [controlName]="'پاسخ '">
						</app-validator>
					</span>
				</div>
				<div class="row justify-content-end mb-4">
					<div class="col-auto">
						<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
							پاسخ به درخواست
						</ion-button>
					</div>
				</div>
			</form>
		</div>
	</main>

	<!-- referredform -->


	<ion-modal mode="ios" #modal trigger="open-referred-modal" (willDismiss)="onWillReferredModalDismiss($event)">
		<ng-template>
		  <ion-header class="ion-no-border">
			<ion-toolbar color="secondary">
			  <ion-buttons (click)=" this.modal.dismiss(null, 'cancel');" slot="start">
				
				  <ion-icon slot="start" name="close"></ion-icon>
				  <ion-button >انصراف</ion-button>
			  </ion-buttons>
			
			</ion-toolbar>
		  </ion-header>
		  <ion-content class="ion-padding">
		
			<form [formGroup]="referredform" (ngSubmit)="submitreferredForm()">
			
		
				<div class="col-md-12 mb-3">
					<div class="form-input ">
						<label>بخش</label>
						<ng-select
						
						[items]="supportList"
						[clearable]="false"
						placeholder="انتخاب بخش مربوطه  "
						bindLabel="name"
						bindValue="id"
						(change)="setSectionChildern($event)" 
						formControlName="section_id"
						>
						<!-- (change)="pageChange(1)" -->
						</ng-select>
						<span class="error">
							<app-validator [control]="referredform.controls['section_id']" [controlName]="'انتخاب بخش '">
							</app-validator>
						</span>
						<span class="hint"> 
							برای ارجاع این درخواست ابتدا یک بخش را انتخاب کنید
						</span>
					</div>
				</div>
				<!-- chose section childern -->
				
				<div *ngIf="supportList&&referredform.controls['section_id'].value" class="col-md-12 mb-3 section-childern" >
					<div class="form-input mb-3">
					  <label>انتخاب کارکنان بخش</label>
					  <ng-select
					  [clearable]="true"
					  placeholder="انتخاب کنید"
					  [multiple]="false"
					  [items]="users"
					  bindLabel="full_name"
					  bindValue="id"
					  formControlName="receiver_id" 
					  >
					  <!-- (add)="AddAlowences($event)"
					  (remove)="removeAlowences($event)"
					  (change)="calcChildrenAllowance();" -->
				   
					
					  </ng-select>
					  <span class="error">
						<app-validator #validation [control]="referredform.controls['receiver_id']" [controlName]="'انتخاب کارمندان '"></app-validator>
					  </span>
					  <span class="hint">در صورت تمایل یکی از کارکنان بخش را انتخاب کنید .</span>
					</div>
				  </div>

				<ion-item lines="none" *ngIf="supportList&&referredform.controls['section_id'].value" >
					<ion-button type="submit" id="open-referred-modal" shape="round" color="secondary" >
						<ion-icon slot="start" name="checkmark"></ion-icon>
						ارجاع درخواست
					</ion-button>
					
				</ion-item>

				</form>
		  </ion-content>
		</ng-template>
	  </ion-modal>

</ion-content>
