@import '/src/theme/extends';

ion-menu[contentId=mainContent] {
	@media only screen and (min-width: 768px) {
		--max-width: 330px;
		width: 330px;
	}

	background-color: transparent !important;
	app-sidebar {
		background-color: var(--ion-color-tertiary);
		height: 100vh;
	}
}
.open-menu{
	display: flex;
	animation: open .3s ease  ;
	  animation-fill-mode: forwards;
}
.close-menu{
	display: none;
	animation: close .3s ease ;
	  animation-fill-mode: forwards;
}
@keyframes close {
	from {    transform: translateX(0);display: flex;}
	to {transform: translateX(100%);	display: none !important;}
  }
@keyframes open {
	from {    transform: translateX(100%);display: flex;}
	to {transform: translateX(0);display: none;}
  }

