<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataList && dataList.length">

	<ng-select [items]="dataList"
           [virtualScroll]="true"
           [loading]="loading"
           bindLabel="full_name"
           bindValue="id"
           placeholder="انتخاب کارمند"
           appendTo="body"
           loadingText="لطفا صبر کنید ..."
           notFoundText="مناسفانه کارمندی یافت نشد"
           (search)="searchFun($event)"
           (scroll)="onScroll($event)"
           (scrollToEnd)="onScrollToEnd()"
           
           >
    <!-- <ng-template ng-header-tmp>
        <small class="form-text text-muted">Loaded {{photosBuffer.length}} of {{photos.length}}</small>
    </ng-template> -->
    <ng-template ng-option-tmp let-item="item" let-index="index">
       	{{item.full_name}}
    </ng-template>
</ng-select>
<br>
<hr>
<br>
<ng-select
[items]="employeelist$ | async"
placeholder="انتخاب کنید"
[loading]="inputLoading"
bindLabel="full_name"
bindValue="id"
typeToSearchText="لطفا حداقل {{minLengthTerm}} کارکتر تایپ کنید"
[typeahead]="employeeInput$"
loadingText="لطفا صبر کنید ..."
notFoundText="مناسفانه کارمندی یافت نشد"
(scroll)="	this.loadEmployee()"
(focus)="	this.getEmployee(null,true)"
>
<!-- formControlName="employee_id" -->
</ng-select>

<app-excel [list]="datas" (Data)="onSubmit($event)"></app-excel>

</ion-content>
