<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ pageTitle }}</h1>
					<p class="dsec"> در این قسمت میتوانید کارمند در کسب و کار را ویرایش کنید </p>
				</div>
			</div>
			<div class="col-lg-auto">

				<ion-back-button [defaultHref]="'/businesses/detail/'+route.snapshot.paramMap.get('id')" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<form [formGroup]="editForm" (submit)="onSubmit()">
				<div class="row my-4">
					<div class="col-md-12">
						<!-- مربوط به سال -->
						<div class="form-input mb-3">
							<label>انتخاب کارمند</label>
							<ng-select [items]="employeelist" placeholder="انتخاب کنید" bindLabel="full_name"
								bindValue="id" formControlName="employee_id">
							</ng-select>
							<span class="error">
								<app-validator [control]="editForm.controls['employee_id']"
									[controlName]="'انتخاب کارمند'">
								</app-validator>
							</span>
							<span class="hint">مثلا حمید رضا ثابت</span>
						</div>
					</div>
					<!-- درصد افزایش نسبت به سال قبل -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>تخصص</label>
							<ion-input type="text" autocomplete="new-pass" formControlName="specialty">
							</ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['specialty']" [controlName]="'مهارت'">
								</app-validator>
							</span>
							<span class="hint">مثلا آشپز</span>
						</div>
					</div>
					<!--مبلغ پایه (ریال) -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>خالص درآمد (ریال)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="net_income">
							</ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['net_income']" [controlName]="'خالص درآمد'">
								</app-validator>
							</span>
							<span class="hint">مثلا : 234,4350 ریال</span>
						</div>
					</div>
					<!-- مقدار ثابت اضافه شونده (ریال)-->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>ساعت کار در روز
								(مجموع در ماه)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="work_hours_in_day"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['work_hours_in_day']"
									[controlName]="'ساعت کار در روز'"></app-validator>
							</span>
							<span class="hint">مثلا : 50 ساعت</span>
						</div>
					</div>
					<!-- مقدار ثابت اضافه شونده (ریال)-->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>ساعت کار در شب (مجموع در ماه)</label>
							<ion-input type="number" autocomplete="new-pass" formControlName="work_hours_in_night"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['work_hours_in_night']"
									[controlName]="'ساعت کار در شب'"></app-validator>
							</span>
							<span class="hint">مثلا : 50 ساعت</span>
						</div>
					</div>
					<!-- مقدار ثابت اضافه شونده (ریال)-->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>مکان کار</label>
							<ion-input type="text" autocomplete="new-pass" formControlName="work_place"></ion-input>
							<span class="error">
								<app-validator [control]="editForm.controls['work_place']" [controlName]="'مکان کار'">
								</app-validator>
							</span>
							<span class="hint">مثلا : قدوسی</span>
						</div>
					</div>
					<div class="col-lg-6 ">
						<ion-item lines="none">
							<ion-label> بیمه دارد </ion-label>
							<ion-checkbox type="string" slot="start" formControlName="has_insurance">
							</ion-checkbox>
						</ion-item>
					</div>
					<div class="col-md-12">
						<hr>
					</div>
					<div formArrayName="posts" class="col-md-12">
						<!-- title -->
						<div class="title-1 mt-5 mb-4">
							<h2 class="title">پست های کارمند</h2>
						</div>
						<div *ngFor="let item of postsFormGroup.controls ; let i = index"
							[formGroupName]="i">
							<div class="form-input mb-3">
								<label>انتخاب پست</label>
								<ng-select [items]="postList" placeholder="انتخاب کنید" bindLabel="name"
									bindValue="id" formControlName="post_id">
								</ng-select>
								<span class="error">
									<app-validator [control]="item.get('post_id')"
										[controlName]="'انتخاب پست'">
									</app-validator>
								</span>
								<span class="hint">مثلا حسابدار</span>
							</div>
						</div>
						<!-- add another address -->
						<div class="row ion-justify-content-between ion-align-items-center">
							<div class="col-auto">
								<p> آیا کارمند پست دیگری دارد</p>
							</div>
							<div class="col-auto">
								<ion-button color="dark" fill="outline" shape="round" (click)="addAnother()">
									<ion-icon slot="start" name="add"></ion-icon>
									افزودن پست دیگر
								</ion-button>
							</div>
						</div>
					</div>
					<!-- اطلاعات ضامن -->
					<div formArrayName="guarantors" class="col-md-12">
						<!-- title -->
						<div *ngFor="let item of guarantorsFormGroup.controls ; let i = index" [formGroupName]="i">
							<div class="row justify-content-between align-items-center">
								<div class="col-12" *ngIf="i"><hr></div>
								<div class="col-9">
									<div class="title-1">
										<h2 class="title"> اطلاعات  ضامن  {{ i + 1 }}</h2>
									</div>
								</div>
								<div class="col-auto" >
									<ion-buttons>
										<ion-button (click)="removeGuarantors(i)" color="danger">
											<ion-icon slot="icon-only" name="trash"></ion-icon>
										</ion-button>
									</ion-buttons>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>نام ضامن</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="first_name"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('first_name')" [controlName]="'نام ضامن'"></app-validator>
										</span>
										<span class="hint">مثلا میلاد</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>نام خانوادگی ضامن</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="last_name"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('last_name')" [controlName]="'نام خانوادگی ضامن'"></app-validator>
										</span>
										<span class="hint">مثلا محمدی</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>کد ملی ضامن</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="national_code"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('national_code')" [controlName]="'کد ملی ضامن'"></app-validator>
										</span>
										<span class="hint">کد ملی یک عدد 10 رقمی است .</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>شماره همراه ضامن</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="mobile"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('mobile')" [controlName]="'شماره همراه ضامن'"></app-validator>
										</span>
										<span class="hint">شماره همراه 11 رقمی و با 09 شروع می شود</span>
									</div>
								</div>
							</div>

						</div>
						<!-- add another address -->
						<div class="row ion-justify-content-between ion-align-items-center">
							<div class="col-auto">
								<p *ngIf="guarantorsFormGroup.controls.length === 0"> آیا کارمند ضامن  دارد</p>
								<p *ngIf="guarantorsFormGroup.controls.length !== 0"> آیا کارمند ضامن دیگری دارد</p>
							</div>
							<div class="col-auto">
								<ion-button color="dark" fill="outline" shape="round" (click)="addAnotherGuarantors()">
									<ion-icon slot="start" name="add"></ion-icon>
									افزودن ضامن
								</ion-button>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr>
					</div>
					<!-- اطلاعات چک -->
					<div formArrayName="cheques" class="col-md-12">
						<!-- title -->
						<div *ngFor="let item of chequesFormGroup.controls ; let i = index" [formGroupName]="i">
							<div class="row justify-content-between align-items-center">
								<div class="col-12" *ngIf="i"><hr></div>
								<div class="col-9">
									<div class="title-1">
										<h2 class="title">اطلاعات چک {{ i + 1 }}</h2>
									</div>
								</div>
								<div class="col-auto" >
									<ion-buttons>
										<ion-button (click)="removeCheques(i)" color="danger">
											<ion-icon slot="icon-only" name="trash"></ion-icon>
										</ion-button>
									</ion-buttons>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>شماره چک</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="number"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('number')" [controlName]="'شماره چک'"></app-validator>
										</span>
										<span class="hint">مثلا 1232352123</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>مبلغ (ریال)</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="amount"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('amount')" [controlName]="'مبلغ'"></app-validator>
										</span>
										<span class="hint"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- add another address -->
						<div class="row ion-justify-content-between ion-align-items-center">
							<div class="col-auto">
								<p *ngIf="chequesFormGroup.controls.length === 0"> آیا کارمند چک دارد</p>
								<p *ngIf="chequesFormGroup.controls.length !== 0"> آیا کارمند چک دیگری دارد</p>
							</div>
							<div class="col-auto">
								<ion-button color="dark" fill="outline" shape="round" (click)="addAnotherCheques()">
									<ion-icon slot="start" name="add"></ion-icon>
									افزودن چک
								</ion-button>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr>
					</div>
					<!-- اطلاعات سفته -->
					<div formArrayName="promissory_notes" class="col-md-12">
						<div *ngFor="let item of promissorynotesFormGroup.controls ; let i = index" [formGroupName]="i">
							<!-- title -->
							<div class="row justify-content-between align-items-center">
								<div class="col-12" *ngIf="i"><hr></div>
								<div class="col-9">
									<div class="title-1">
										<h2 class="title">اطلاعات سفته {{ i + 1 }}</h2>
									</div>
								</div>
								<div class="col-auto" >
									<ion-buttons>
										<ion-button (click)="removePromissoryNotes(i)" color="danger">
											<ion-icon slot="icon-only" name="trash"></ion-icon>
										</ion-button>
									</ion-buttons>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>شماره سفته</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="number"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('number')" [controlName]="'شماره سفته'"></app-validator>
										</span>
										<span class="hint">مثلا 1232352123</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>مبلغ (ریال)</label>
										<ion-input type="text" autocomplete="new-pass" formControlName="amount"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('amount')" [controlName]="'مبلغ'"></app-validator>
										</span>
										<span class="hint"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- add another address -->
						<div class="row ion-justify-content-between ion-align-items-center">
							<div class="col-auto">
								<p *ngIf="promissorynotesFormGroup.controls.length === 0"> آیا کارمند سفته دارد</p>
								<p *ngIf="promissorynotesFormGroup.controls.length !== 0"> آیا کارمند سفته دیگری دارد</p>
							</div>
							<div class="col-auto">
								<ion-button color="dark" fill="outline" shape="round" (click)="addAnotherPromissoryNotes()">
									<ion-icon slot="start" name="add"></ion-icon>
									افزودن سفته
								</ion-button>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr>
					</div>
					<div class="col-md-12">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-xl-2 col-lg-3">
								<ion-button expand="block" color="medium" fill="outline" shape="round" (click)="global.emptyFrom(editForm)">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-xl-4 col-lg-5">
								<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
									{{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
</ion-content>
