 <!-- (click)="setCellClickValue($event)" -->
<div class="main-content">
	<div  *ngIf="false"  class="title">Book1 - Excel</div>
	<div  *ngIf="false" dir="ltr" class="menu-bar">
		<div><span>File</span></div>
		<div><span>Home</span></div>
		<div><span>Insert</span></div>
		<div><span>Page Layout</span></div>
		<div><span>Formulas</span></div>
		<div><span>Data</span></div>
		<div><span>Review</span></div>
		<div><span>View</span></div>
		<div><span>Help</span></div>
	</div>
	<div *ngIf="false" dir="ltr" class="icon-bar">
		<div class="icon-bar__clipboard">
			<div class="icon-paste">
				<div class="icon"><ion-icon size="large" name="clipboard"></ion-icon></div><span>Paste</span>
			</div>
			<div class="icon icon-cut">
        <ion-icon name="cut"></ion-icon>
      </div>
			<div class="icon icon-copy"><ion-icon  name="copy"></ion-icon></div>
			<div class="icon-bar__name">Clipboard</div>
		</div>
		<div class="icon-bar__font">
			<select disabled="true" class="font-name">
				<option selected="selected"> IRANSansWebFaNum Light</option>
				<option  style="--font:sans-serif" >Noto Sans</option>
				<option style="--font:Arial">Arial</option>
				<option style="--font:Calibri">Calibri</option>
				<option style="--font:Comic Sans MS">Comic Sans MS</option>
				<option style="--font:Courier New">Courier New</option>
				<option style="--font:Impact">Impact</option>
				<option style="--font:Georgia">Georgia</option>
				<option style="--font:Garamond">Garamond</option>
				<option style="--font:Lato">Lato</option>
				<option style="--font:Open Sans">Open Sans</option>
				<option style="--font:Palatino">Palatino</option>
				<option style="--font:Verdana">Verdana</option>
			</select>
			<select  disabled="true" class="font-size">
				<option selected="selected">14</option>
				<option>16</option>
				<option>18</option>
				<option>20</option>
				<option>22</option>
				<option>24</option>
				<option>26</option>
				<option>28</option>
				<option>36</option>
				<option>48</option>
				<option>72</option>
			</select>
			<div class="icon icon-bold">
        <b>B</b>
      </div>
			<div class="icon icon-italic">
        <b> <i>I</i></b> 
      </div>
			<div class="icon icon-underline">
        <b> <u>U</u></b> 
      </div>
			<div class="icon icon-border">
        <ion-icon name="grid"></ion-icon>
      </div>
			<div class="icon icon-fill">
        <ion-icon name="color-fill"></ion-icon>
      </div>
			<div class="icon icon-color">
     
        <ion-icon name="text"></ion-icon>
      </div>
			<div class="icon-bar__name">Font</div>
		</div>
		<div class="icon-bar__alignment">
			<div class="icon icon-alignt">
        <ion-icon name="reorder-three"></ion-icon>
      </div>
			<div class="icon icon-alignm">
        <ion-icon name="reorder-three"></ion-icon>
      </div>
			<div class="icon icon-alignb">
        <ion-icon name="reorder-three"></ion-icon>
      </div>
			<div class="icon icon-orientation">
        <ion-icon name="color-wand"></ion-icon>
        <!-- <ion-icon name="reorder-three"></ion-icon> -->
      </div>
			<div class="icon icon-alignl">
        <ion-icon name="reorder-three"></ion-icon>
      </div>
			<div class="icon icon-alignc">
        <ion-icon name="reorder-three"></ion-icon>
      </div>
			<div class="icon icon-alignr">
        <ion-icon name="reorder-three"></ion-icon>
      </div>
			<div class="icon icon-indentinc">
        <ion-icon name="reorder-four"></ion-icon>
      </div>
			<div class="icon icon-indentdec">
        <ion-icon name="reorder-four"></ion-icon>
      </div>
			<div class="wrap-text">
				<div class="icon"><ion-icon name="browsers"></ion-icon></div><span>Wrap Text</span>
			</div>
			<div class="merge-center">
				<div class="icon"><ion-icon name="filter"></ion-icon></div><span>Merge & Center</span>
			</div>
			<div class="icon-bar__name">Alignment</div>
		</div>
		<div class="icon-bar__number">
			<select  disabled="true"  class="number-format">
				<option>General</option>
				<option>Number</option>
				<option>Currency</option>
				<option>Accounting</option>
				<option>Short Date</option>
				<option>Long Date</option>
				<option>Time</option>
				<option>Currency</option>
				<option>Percentage</option>
			</select>
			<div class="icon icon-acc"><b>$</b></div>
			<div class="icon icon-percent"><b>%</b></div>
			<div class="icon icon-comma"><b>,</b></div>
			<div class="icon icon-decimalinc"><ion-icon  size="large"  name="enter"></ion-icon></div>
			<div class="icon icon-decimaldec"><ion-icon  size="large" name="exit"></ion-icon></div>
			<div class="icon-bar__name">Number</div>
		</div>
		<div class="icon-bar__styles">
			<div class="conditional">
				<div class="icon">
          <ion-icon size="large" name="layers"></ion-icon>
        </div>
			</div>
			<div class="format-table">
				<div   class="icon">
          <ion-icon size="large" name="brush"></ion-icon>
        </div>
			</div>
			<div class="cell-style">
				<div class="icon">
          <ion-icon  size="large" name="pencil"></ion-icon>
        </div>
			</div>
			<div class="icon-desc">Conditional Formatting</div>
			<div class="icon-desc">Format as Table</div>
			<div class="icon-desc">Cell Styles</div>
			<div class="icon-bar__name">Styles</div>
		</div>
		<div class="icon-bar__cells">
			<div class="cell-insert">
				<div class="icon">
          <ion-icon  size="large" name="cloud-download"></ion-icon>
        </div>
			</div>
			<div class="cell-delete">
				<div class="icon"><ion-icon  size="large" name="close"></ion-icon></div>
			</div>
			<div class="cell-format">
				<div class="icon">
          <ion-icon  size="large" name="file-tray-full"></ion-icon>
        </div>
			</div>
			<div class="icon-desc">Insert</div>
			<div class="icon-desc">Delete</div>
			<div class="icon-desc">Format</div>
			<div class="icon-bar__name">Cells</div>
		</div>
	</div>
	<div  *ngIf="false"  class="cell-content">
		<div>fx</div>
		<div> {{cellClickValue}} </div>
	</div>
  <!-- '25px repeat('+gridRows + ', calc((100% - 208px) / '+gridRows -->
  <!-- repeat('+gridRows+', 25px) -->
  <!--  -->
  <!-- 40px repeat(54,max(100%/54, 100px)) -->
  <!-- 40px repeat('+gridColumns + ', calc((100% - 50px) /'+gridColumns+'))' -->
 
  
  
  <div   class="col-12 my-4 pt-10 header">
	  <div  class="title-1">
		  <h5 class="title"> افزودن ستون</h5>
		  <p  class="dsec"> در این قسمت میتوانید یک ستون اضافه کنید</p>

	  </div>
	  <div class="row">
		  <div class="col-lg-6 mt-3">
			  <div class="form-input ">
				  <label>  عنوان </label>
				  <!-- [(ngModel)]="monthNumber" (change)="getData()" -->
				  <ion-input [(ngModel)]="titleColumn" type="text" placeholder="عنوان ستون را بنویسید"></ion-input>
	  

			  </div>
		  </div>
		  <div class="col-lg-4 mt-3">
			  <div class="form-input ">
				  <label> انتخاب نوع </label>
				  <!-- [(ngModel)]="monthNumber" (change)="getData()" -->
				  <ng-select [(ngModel)]="typeColumn"   [items]="[{name:'اضافات',value:'custom_additions'},{name:'کسورات',value:'custom_deductions'}]" bindLabel="name" loadingText="لطفا صبر کنید ..."
				  notFoundText="مناسفانه نوع یافت نشد"
				  [clearable]="false"
					  bindValue="value" placeholder="انتخاب کنید" >
				  </ng-select>
	  

			  </div>
		  </div>
	  </div>
	  <div  dir="ltr"class="col-12">

		  <ion-button (click)="addColumn()"  color="success"  shape="round">
			  افزودن
		  </ion-button>
		  
	  </div>
	 
	  <hr class="col-12">

	  <div *ngIf="(this.custom_additions[0]?.value[0])||(this.custom_deductions[0]?.value[0])" class="row">
		  <ion-list  class="col-6">
			<ion-list-header *ngIf="this.custom_additions[0]?.value[0]" >
				<ion-label>موارد اضافات</ion-label>
				<!-- <ion-button>See All</ion-button> -->
			</ion-list-header>
			<!-- <ion-button (click)="onClick()"fill="clear" shape="round">
				Click me
			</ion-button> -->
			<ion-item *ngFor="let item of this.custom_additions[0].value;let i = index" >
			  <ion-label>{{i+1}}_ {{item.name}}</ion-label>
			  <ion-button (click)="deleteAdditionAlert(i,item)" color="dark" expand="block"  fill="clear" shape="round">
				  <ion-icon slot="end" name="trash-outline"></ion-icon>
			  </ion-button>
			</ion-item>
		
		  </ion-list>
		<ion-list class="col-6">
			<ion-list-header *ngIf="this.custom_deductions[0]?.value[0]">
				<ion-label> موارد کسورات</ion-label>
				<!-- <ion-button>See All</ion-button> -->
			</ion-list-header>
			<ion-item *ngFor="let item of this.custom_deductions[0].value;let i = index" >
				<ion-label>{{i+1}}_ {{item.name}}</ion-label>
				<ion-button (click)="deleteDeductionsAlert(i,item)" color="dark" expand="block"  fill="clear" shape="round">
					<ion-icon slot="end" name="trash-outline"></ion-icon>
				</ion-button>
			</ion-item>
		  </ion-list>
		  
	  </div>

  </div>
  <form [formGroup]="excelForm" id="form"  (submit)="submit()">
	  
		<!-- <div class="col-lg-auto">
		  <div class="page-info">
			  <h1 class="title">افزودن فیش حقوقی جدید</h1>
			  <p class="dsec">در این قسمت شما میتوانید یک فیش حقوقی جدید اضافه کنید
			  </p>
		  </div>
	  </div> -->
	  <!-- -((this.custom_additions[0]?.value?.length+this.custom_deductions[0]?.value?.length)*2) -->
	  <!-- (scroll)="onScroll($event)" -->
	<div formArrayName="excelCell"   class="cells"   [style.grid-template-rows]=" 'auto 35px repeat('+gridRows+', 25px)'" [style.grid-template-columns]="'40px  35px 70px 80px 222px 105px repeat('+(gridColumns-5) + ',max(100%/'+(gridColumns-5)+', 170px))'" >
		<div class="cells__spacer"></div>
		<div class="cells__alphabet" *ngFor="let dummy of  this.alfaArray ;let i = index; trackBy: trackByIndex" >{{ this.alfaArray[i]}}</div>
			<!-- *for form array or all data araay (arr1) -->
		<div 
		*ngFor="let item of allDataInpu ;let i = index; first as isFirst; trackBy: trackByEmployeeId" [style.max-height]="isFirst?'40px':''"  class="cells__number" >
      {{i+1}}
    </div>
    <!-- <ion-textarea></ion-textarea> -->
<!-- *for on allDataInpu array make y cell -->
	<ng-container  [ngTemplateOutlet]=" defaultTabButtons" *ngFor="let item of  excelCellGroup.controls  ;let i = index; trackBy: trackByIndex"  [ngTemplateOutletContext]="{i:i,item:item}"   >

	</ng-container>
	<ng-template   #defaultTabButtons let-i='i' let-item='item' >
		<!-- *ngFor="let dummy of ' '.repeat((gridColumns+1)*gridRows).split('') ;let i = index"  -->
		

		<!--* for on item make x cell-->
		<!-- ! reload shel -->
		<!-- *appAftersecendloade -->
		<ng-container  [formGroupName]="i"  >
			<!-- * set value & make input-->
			<!-- <ion-input [readonly]="detail[0].readonly"  *ngIf="!(i!==0&&index==2)"  [value]="detail[0].value"  [class.title-cell]="i==0"  [class.first-col-cell]="index==0" type="text"  (ionChange)="setvalue(detail[0],$event,item)"  class="cells__input"></ion-input>
				<select  *ngIf="i!==0&&index==2" [value]="detail[0].value"   (change)="setvalue(detail[0],$event,item)"  class="cells__input" >
					<option *ngFor="let workingShift of workingShiftsList; first as isFirst;let i = index" [selected]="detail[0].value==i+1?'selected':(isFirst?'selected':'')" [value]="workingShift.id"> {{workingShift.name}}</option>
					
				</select>-->
				<div class="chech-rap">

					<ion-checkbox [id]="i"  class="checkbox" formControlName="isWant"  (click)="checkAll(i)"   slot="start" ></ion-checkbox>
				</div>
				<input *ngIf="i!=0" (click)="clac(item);clacInverse(item)" class="cells__input first-col-cell" type="button" formControlName="calc">
				<ion-input   *ngIf="i==0" 	readonly="true"  formControlName="calc"  type="text"  class="cells__input title-cell "></ion-input>
				<ion-input   [class.title-cell]="i==0" 	readonly="true"  formControlName="employee_id"  type="text"  class="cells__input "></ion-input>
				<ion-input   [class.title-cell]="i==0" 	readonly="true"  formControlName="full_name"  type="text"  class="cells__input"></ion-input>
				<ion-input   [class.title-cell]="i==0" [readonly]="true"  formControlName="is_hourly_contract"  type="text"  class="cells__input"></ion-input>

				<ion-input   [class.title-cell]="i==0"  *ngIf="i==0" readonly="true"  formControlName="is_inverse"  type="text"  class="cells__input"></ion-input>
				<select (change)="resetDefaltData(item,i)" *ngIf="i!=0"  formControlName="is_inverse"   class="cells__input" >
						<option [value]="true"> بله </option>
						<option [value]="false"> خیر </option>
				</select>
				<ion-input  [debounce]="850"    [class.title-cell]="i==0" [readonly]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true"   formControlName="inverse_payroll_received"  type="text"  class="cells__input"></ion-input>

				<ion-input  [class.title-cell]="i==0"  *ngIf="i==0" readonly="true"  formControlName="has_working_over_time"  type="text"  class="cells__input"></ion-input>

			<select    *ngIf="i!=0"   formControlName="has_working_over_time"   class="cells__input" >
				<option [value]="1" [disabled]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true" > بله </option>
				<option [value]="0" [disabled]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true"> خیر </option>
		</select>
		<ion-input   [class.title-cell]="i==0"  *ngIf="i==0" readonly="true"  formControlName="has_working_friday"  type="text"  class="cells__input"></ion-input>

		<select    *ngIf="i!=0"  formControlName="has_working_friday"   class="cells__input" >
				<option  [disabled]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true"  [value]="1"> بله </option>
				<option  [disabled]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true"  [value]="0"> خیر </option>
		</select>
		<ion-input   [class.title-cell]="i==0"  *ngIf="i==0" readonly="true"  formControlName="has_working_night"  type="text"  class="cells__input"></ion-input>

		<select  *ngIf="i!=0"  formControlName="has_working_night"    class="cells__input" >
				<option  [disabled]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true"  [value]="1"> بله </option>
				<option  [disabled]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true"  [value]="0"> خیر </option>
		</select>

		<!-- مرتب شده بعدیا-->
		<ion-input  [debounce]="750"   [class.title-cell]="i==0"  [readonly]="((item.value.is_inverse=='false'||item.value.is_inverse==false)&&item.value.is_hourly_contract=='تمام وقت')?false:true"  formControlName="working_day_count"  type="text"  class="cells__input"></ion-input>
		<!-- {{(item.value.is_inverse)=='true'?false:true}} -->
		<!-- [readonly]="i==0||calcparametr.indexOf('working_hour_count')!=-1?true:false" -->
		<ion-input [debounce]="750" [class.title-cell]="i==0" [readonly]="((item.value.is_inverse=='false'||item.value.is_inverse==false)&&item.value.is_hourly_contract=='ساعتی')?false:true"  formControlName="working_hour_count"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('addition_hour_friday_or_holiday')!=-1?true:false"  formControlName="addition_hour_friday_or_holiday"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('sum_working_hours')!=-1?true:false"  formControlName="sum_working_hours"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('daily_or_hourly_wage')!=-1?true:false"  formControlName="daily_or_hourly_wage"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('monthly_wage')!=-1?true:false"  formControlName="monthly_wage"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('grocery_allowance')!=-1?true:false"  formControlName="grocery_allowance"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('housing_allowance')!=-1?true:false"  formControlName="housing_allowance"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('children_allowance')!=-1?true:false"  formControlName="children_allowance"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('new_year_gift')!=-1?true:false"  formControlName="new_year_gift"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('bonus')!=-1?true:false"  formControlName="bonus"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('severance_pay')!=-1?true:false"  formControlName="severance_pay"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="true"  formControlName="calc_unused_leave_monthly"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('used_leave')!=-1?true:false"  formControlName="used_leave"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('unused_leave')!=-1?true:false"  formControlName="unused_leave"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('unused_leave_amount')!=-1?true:false"  formControlName="unused_leave_amount"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('remaining_cumulative_leave')!=-1?true:false"  formControlName="remaining_cumulative_leave"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('without_pay_leave')!=-1?true:false"  formControlName="without_pay_leave"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('without_pay_leave_amount')!=-1?true:false"  formControlName="without_pay_leave_amount"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('without_pay_cumulative_leave')!=-1?true:false"  formControlName="without_pay_cumulative_leave"  type="text"  class="cells__input"></ion-input>
		<ion-input   [debounce]="750"    [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_night_hour_count')!=-1?true:false"  formControlName="working_night_hour_count"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_night_price')!=-1?true:false"  formControlName="working_night_price"  type="text"  class="cells__input"></ion-input>
		<ion-input   [debounce]="750"   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_friday_hour_count')!=-1?true:false"  formControlName="working_friday_hour_count"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_friday_price')!=-1?true:false"  formControlName="working_friday_price"  type="text"  class="cells__input"></ion-input>
		<ion-input   [debounce]="750"   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_over_time_hour_count')!=-1?true:false"  formControlName="working_over_time_hour_count"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_over_time_price')!=-1?true:false"  formControlName="working_over_time_price"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0"  *ngIf="i==0" readonly="true"  formControlName="working_shift_id"  type="text"  class="cells__input"></ion-input>
		<select  *ngIf="i!=0"   formControlName="working_shift_id"   class="cells__input" >
			<option [value]="' '"> هیچکدام  </option>
			<!-- <optgroup  > -->
				<option *ngFor="let workingShift of workingShiftsList; first as isFirst;let i = index" [value]="workingShift.id"> {{workingShift.name}}</option>
				
			  <!-- </optgroup> -->
		</select>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_shift_price')!=-1?true:false"  formControlName="working_shift_price"  type="text"  class="cells__input"></ion-input>
		<ion-input   [debounce]="750"   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('outstation_day_count')!=-1?true:false"  formControlName="outstation_day_count"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('outstation_allowance_price')!=-1?true:false"  formControlName="outstation_allowance_price"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('attract_allowance')!=-1?true:false"  formControlName="attract_allowance"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('trust_allowance')!=-1?true:false"  formControlName="trust_allowance"  type="text"  class="cells__input"></ion-input>
		
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('hardship_allowance')!=-1?true:false"  formControlName="hardship_allowance"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('operation_bonus')!=-1?true:false"  formControlName="operation_bonus"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('loan_received_amount')!=-1?true:false"  formControlName="loan_received_amount"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('commission')!=-1?true:false"  formControlName="commission"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('car_fuel')!=-1?true:false"  formControlName="car_fuel"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('transportation_price')!=-1?true:false"  formControlName="transportation_price"  type="text"  class="cells__input"></ion-input>
		<ion-input   [debounce]="750" [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('insurance_day_count')!=-1?true:false"  formControlName="insurance_day_count"  type="text"  class="cells__input"></ion-input>
		<ion-input   [debounce]="750"  [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('insurance_wage')!=-1?true:false"  formControlName="insurance_wage"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('insurance_allowance')!=-1?true:false"  formControlName="insurance_allowance"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('employer_insurance_allowance')!=-1?true:false"  formControlName="employer_insurance_allowance"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="true"  formControlName="calc_payroll_tax"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('payroll_tax')!=-1?true:false"  formControlName="payroll_tax"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('advance_money')!=-1?true:false"  formControlName="advance_money"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('loan_installment_amount')!=-1?true:false"  formControlName="loan_installment_amount"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('food_cost')!=-1?true:false"  formControlName="food_cost"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('pension_cost')!=-1?true:false"  formControlName="pension_cost"  type="text"  class="cells__input"></ion-input>
		<ion-input   [debounce]="750"   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_deficit_hours')!=-1?true:false"  formControlName="working_deficit_hours"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('working_deficit_amount')!=-1?true:false"  formControlName="working_deficit_amount"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('fund_reserve')!=-1?true:false"  formControlName="fund_reserve"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('fund_reserve_yearly_repay')!=-1?true:false"  formControlName="fund_reserve_yearly_repay"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('purchase_invoice_from_company')!=-1?true:false"  formControlName="purchase_invoice_from_company"  type="text"  class="cells__input"></ion-input>

		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('sum_payroll_additions')!=-1?true:false"  formControlName="sum_payroll_additions"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('sum_payroll_deductions')!=-1?true:false"  formControlName="sum_payroll_deductions"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('payroll_received')!=-1?true:false"  formControlName="payroll_received"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('payment_date')!=-1?true:false"  formControlName="payment_date"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('work_hours_in_day')!=-1?true:false"  formControlName="work_hours_in_day"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('work_hours_in_night')!=-1?true:false"  formControlName="work_hours_in_night"  type="text"  class="cells__input"></ion-input>
		<ion-input   [class.title-cell]="i==0" [readonly]="true"  formControlName="working_hour_mentioned_in_contract"  type="text"  class="cells__input"></ion-input>


			<!-- [readonly]="i==0||calcparametr.indexOf('working_day_count')!=-1?(item.value.is_inverse=='true'||item.value.is_inverse==true?false:true):false" -->
			<!-- [readonly]="item.value.is_inverse=='true'||item.value.is_inverse==true?false:true" -->
			<!-- <ion-input   [class.title-cell]="i==0" [readonly]="i==0||calcparametr.indexOf('delay_penalty')!=-1?true:false"  formControlName="delay_penalty"  type="text"  class="cells__input"></ion-input>
			<ion-input   [class.title-cell]="i==0" [readonly]="i==0||calcparametr.indexOf('absence_penalty')!=-1?true:false"  formControlName="absence_penalty"  type="text"  class="cells__input"></ion-input> -->
			<!-- <ion-input   [class.title-cell]="i==0" [readonly]="i==0||calcparametr.indexOf('sum_over_night_friday_amounts')!=-1?true:false"  formControlName="sum_over_night_friday_amounts"  type="text"  class="cells__input"></ion-input> -->
			
			
			
			<!-- <ion-input   [class.title-cell]="i==0"  *ngIf="i==0" readonly="true"  formControlName="calc_unused_leave_monthly"  type="text"  class="cells__input"></ion-input>

		<select  *ngIf="i!=0"  formControlName="calc_unused_leave_monthly" readonly="true"   class="cells__input" >
				<option [value]="1"> بله </option>
				<option [value]="0"> خیر </option>
		</select> -->
			<ion-input *ngFor="let addition of this.custom_additions[i].value;let additionIndex = index; trackBy: trackByIndex"    [debounce]="750"  (ionChange)="setAddition(addition,$event,item)" [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||item.value.is_inverse==true?true:false" [value]="addition.amount"  [type]="i==0?'text':'number'"  class="cells__input"></ion-input>
			<ion-input *ngFor="let deductions of this.custom_deductions[i].value;let deductionsIndex = index; trackBy: trackByIndex"    [debounce]="750"  (ionChange)="setDeduction(deductions,$event,item)"  [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true?true:false" [value]="deductions.amount"   [type]="i==0?'text':'number'" class="cells__input"></ion-input>
			


			<!-- formArrayName="custom_additions"   -->
			<!-- <ng-container     [ngTemplateOutlet]="additionTemplate"    formArrayName='custom_additions'  [ngTemplateOutletContext]="{i:i,item:item}"   >


			</ng-container> -->

		</ng-container> 
  <!-- [class.title-cell]="i==0"  [class.first-col-cell]="index==0" -->
   <!-- (ionChange)="setvalue(detail[0],$event,item)"  -->
		

			<!-- <select  *ngIf="i!==0&&index==2" [value]="detail[0].value"   (change)="setvalue(detail[0],$event,item)"  class="cells__input" >
				<option *ngFor="let workingShift of workingShiftsList; first as isFirst;let i = index" [selected]="detail[0].value==i+1?'selected':(isFirst?'selected':'')" [value]="workingShift.id"> {{workingShift.name}}</option>
				
			</select>
	 -->
	</ng-template>

	<!-- <ng-template    #additionTemplate  let-i='i' let-additionIndex='additionIndex' let-item='item' >
		<!-- <ng-container   [ngTemplateOutlet]="additionArayy"  [ngTemplateOutletContext]="{i:i,additionIndex:additionIndex}"     >
			<!-- <ion-input   [class.title-cell]="i==0" [readonly]="true"  formControlName="amount"  type="text"  class="cells__input"></ion-input> -->
<!-- 
		</ng-container>
		<ng-template #additionArayy  let-i='i' let-additionIndex='additionIndex' >
			<ng-container   >
				<ion-input   [class.title-cell]="i==0" [readonly]="true"  formControlName="amount"  type="text"  class="cells__input"></ion-input>
	
			</ng-container>

		</ng-template> --> 
		<!-- <div  *ngFor="let addition of customAdditions[i].controls  ;let additionIndex = index" [formGroupName]="additionIndex">
			<ion-input   [class.title-cell]="i==0" [readonly]="i==0||item.value.is_inverse=='true'||item.value.is_inverse==true||calcparametr.indexOf('without_pay_leave')!=-1?true:false"  formControlName="amount"  type="text"  class="cells__input"></ion-input>

		</div>


	</ng-template> --> 
	</div>
	<div class="row mb-5">
		<div class="col-12">
			<hr>
		</div>
		<!-- next step  -->
		<div class="col-lg-7 col-md-3"></div>
		<div class="col-lg-2 col-md-4">
			<!-- <ion-button expand="block" type="button" color="medium" shape="round"  fill="outline">پاک کردن فرم</ion-button> -->
		</div>
		<div class="col-lg-3 col-md-5">
			<ion-button expand="block" type="submit" color="success" shape="round" fill="solid">
				{{allDataInpu[1].id?'ویرایش':'ثبت'}} فیش
				حقوقی
			</ion-button>
		</div>
	</div>
		
	
 </form>


</div>


