<ion-header>
	<app-header [title]="'افزودن کسب کار  جدید'"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header ">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title">افزودن کسب کار</h1>
					<p class="dsec">در این قسمت شما میتوانید یک کسب کار جدید اضافه کنید
					</p>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-back-button defaultHref="businesses" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<!-- top bar content -->
	<!-- main -->
	<main>
		<div class="container">
			<!-- form -->
			<form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
				<div class="row mt-4">
					<!-- title -->
					<div class="col-12">
						<div class="title-1 my-4">
							<h2 class="title">اطلاعات اولیه</h2>
							<p class="dsec">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
								طراحان
								گرافیک است</p>
						</div>
					</div>

					<!-- کارفرما -->
					<div class="col-lg-12">
						<div class="form-input mb-3">
							<label>انتخاب کارفرما</label>
							<!-- <ng-select
							[items]="employerList"
							formControlName="employer_ids"
							[multiple]="true"
							bindLabel="full_name"
							bindValue="id"
							[clearable]="false"
							>
							</ng-select> -->
							<ng-select
							[items]="employerlist$ | async"
							placeholder="انتخاب کنید"
							[loading]="inputLoading"
							bindLabel="full_name"
							bindValue="id"
							typeToSearchText="لطفا حداقل {{minLengthTerm}} کارکتر تایپ کنید"
							[typeahead]="employerInput$"
							formControlName="employer_ids"
							loadingText="لطفا صبر کنید ..."
							notFoundText="مناسفانه کارفرمای یافت نشد"
							[multiple]="true"
							[clearable]="false"
							(add)="clearEmployerlist()"	
						>
						</ng-select>


							
							<span class="error">
								<app-validator [control]="businessForm.controls['employer_ids']" [controlName]="'انتخاب کارفرما'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>
					<!-- عنوان کسب و کار -->
					<div class="col-lg-12">
						<div class="form-input mb-3">
							<label>عنوان کسب و کار</label>
							<ion-input autocomplete="new-pass" formControlName="name"></ion-input>
							<span class="error">
								<app-validator [control]="businessForm.controls['name']" [controlName]="'نام شرکت'">
								</app-validator>
							</span>
							<span class="hint">نام شرکت یا کسب و کار خود را وارد کنید</span>
						</div>
					</div>
					<!-- کارفرما -->
					<div class="col-lg-12">
						<div class="form-input mb-3">
							<label>نوع شخصیت</label>
							<ng-select
								formControlName="employer_type"
								placeholder="نوع شخصیت حقیقی یا حقوقی را انتخاب کنید"
								[items]="personType"
								[bindLabel]="'name'"
								[bindValue]="'id'"
								>
							</ng-select>
							<span class="error">
								<app-validator [control]="businessForm.controls['employer_type']" [controlName]="'نوع شخصیت'">
								</app-validator>
							</span>
							<span class="hint">حقیقی یا حقوقی</span>
						</div>
					</div>
					<!-- زمانیکه نوع کارفرما حقوقی باشد فیلدهای شماره ثبت و شناسه ملی دارد و زمانیکه حقیقی باشد شماره پروانه کسب دارد -->

					<!-- شماره پروانه کسب -->
					<div class="col-lg-12">
						<div *ngIf="this.businessForm.value['employer_type'] === 'real' " class="form-input mb-3">
							<label>شماره پروانه کسب</label>
							<ion-input autocomplete="new-pass" type="number" formControlName="business_license_number">
							</ion-input>
							<span class="error">
								<app-validator [control]="businessForm.controls['business_license_number']"
									[controlName]="'شماره پروانه کسب'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>

					<!-- شماره ثبت -->
					<div class="col-lg-6">
						<div class="form-input mb-3" *ngIf="this.businessForm.value['employer_type'] === 'legal' ">
							<label>شماره ثبت</label>
							<ion-input autocomplete="new-pass" type="number" formControlName="registration_number">
							</ion-input>
							<span class="error">
								<app-validator [control]="businessForm.controls['registration_number']"
									[controlName]="'شماره ثبت'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>

					<!-- شناسه ملی -->
					<div class="col-lg-6">
						<div class="form-input mb-3" *ngIf="this.businessForm.value['employer_type'] === 'legal' ">
							<label>شناسه ملی</label>
							<ion-input autocomplete="new-pass" type="number" formControlName="national_id"></ion-input>
							<span class="error">
								<app-validator [control]="businessForm.controls['national_id']"
									[controlName]="'شناسه ملی'"></app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>

					<!-- دسته بندی کسب و کار -->
					<div class="col-lg-12">
						<div class="form-input mb-3" *ngIf="businessCatgeories && businessCatgeories.length">
							<label>دسته بندی کسب و کار</label>
							<ng-select placeholder="دسته بندی کسب و کار را انتخاب کنید" [items]="businessCatgeories"
								bindLabel="name" bindValue="id" groupBy="parentName"
								formControlName="business_category_id">
								<ng-template ng-optgroup-tmp let-item="item">
									{{item.parentName || 'Unnamed group'}}
								</ng-template>
							</ng-select>
							<span class="error">
								<app-validator [control]="businessForm.controls['business_category_id']"
									[controlName]="'انتخاب دسته بندی'"></app-validator>
							</span>
						</div>
					</div>
					<!-- title -->
					<div class="col-lg-12">
						<div class="title-1 mt-5 mb-4">
							<h2 class="title">اطلاعات تماس و آدرس ها</h2>
						</div>
					</div>
					<!-- بلاک آدرس -->
					<div class="col-lg-12">
						<div formArrayName="addresses">
							<div class="business-address"
								*ngFor="let item of  addressFormGroup.controls ; let i = index" [formGroupName]="i">
								<div class="row mb-3 justify-content-between align-items-center" *ngIf="i > 0">
									<div class="col-12">
										<hr>
									</div>
									<div class="col-9">
										<div class="title-1">
											<h2 class="title"> آدرس شماره {{ i }}</h2>
										</div>
									</div>
									<div class="col-auto">
										<ion-buttons>
											<ion-button (click)="removeAddress(i)" color="danger">
												<ion-icon slot="icon-only" name="trash"></ion-icon>
											</ion-button>
										</ion-buttons>
									</div>
								</div>

								<div class="form-input mb-3" *ngIf="province && province.length">
									<label>انتخاب شهر و استان</label>
									<ng-select [items]="province" placeholder="یک شهر انتخاب کنید" bindLabel="name"
										bindValue="id" groupBy="province" formControlName="city_id">
									</ng-select>

									<span class="error">
										<app-validator [control]="item.get('city_id')" [controlName]="'انتخاب شهر'">
										</app-validator>
									</span>
								</div>
								<!-- جزییات آدرس -->
								<div class="form-input mb-3">
									<label>آدرس</label>
									<ion-textarea rows="3" formControlName="address" autocomplete="new-pass">
									</ion-textarea>
									<span class="error">
										<app-validator [control]="item.get('address')" [controlName]="'آدرس'">
										</app-validator>
									</span>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<!-- شماره تماس -->
										<div class="form-input mb-3">
											<label>شماره تماس</label>
											<ion-input formControlName="phone" type="phone"
												(keypress)="global.justNumber($event)" autocomplete="new-pass">
											</ion-input>
											<span class="error">
												<app-validator [control]="item.get('phone')"
													[controlName]="'شماره تماس'"></app-validator>
											</span>
										</div>
									</div>
									<div class="col-lg-6">
										<!-- کد پستی -->
										<div class="form-input mb-3">
											<label>کد پستی</label>
											<ion-input formControlName="postal_code" type="phone"
												(keypress)="global.justNumber($event)" autocomplete="new-pass">
											</ion-input>
											<span class="error">
												<app-validator [control]="item.get('postal_code')"
													[controlName]="'کد پستی'"></app-validator>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end address -->
					<!-- add another address -->
					<div class="col-lg-12">
						<div class="row ion-justify-content-between ion-align-items-center">
							<div class="col-auto">
								<p> آیا کسب و کار شما آدرس دیگری دارد</p>
							</div>
							<div class="col-auto">
								<ion-button color="dark" fill="outline" shape="round" (click)="addAnotherAdress()">
									<ion-icon slot="start" name="add"></ion-icon>
									افزودن آدرس دیگر
								</ion-button>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<hr>
					</div>
					<div class="col-lg-12 mb-4">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-lg-2">
								<ion-button expand="block" color="medium" fill="outline" shape="round"
									(click)="global.emptyFrom(businessForm)">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-lg-3">
								<ion-button type="button" (click)="onSubmit(true)" expand="block" color="success" fill="solid" shape="round">
									ثبت و ثبت جدید
								</ion-button>
							</div>
							<div class="col-lg-3">
								<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
									ثبت کسب و کار
								</ion-button>
							</div>
						</div>
					</div>

					<!-- add another address -->

					<!-- desc -->
				</div>
			</form>
		</div>
	</main>

</ion-content>
