<ion-header >
	<app-header [title]="pageTitle"></app-header>
  <div 

  
  class="right-click-menu"
  [class.open]="contextMenuIsOpen"
  >
   <ion-list>
    <!-- <ion-list-header>
   <ion-button (click)="onClick()">
    <ion-icon size="small" slot="icon-only" name="close"></ion-icon>
   </ion-button>
    </ion-list-header> -->
     <ion-item lines="none" (click)="clickEditButton()" button>
      <!-- <ion-button color="light"  expand="block" fill="clear" >
        تغیر نام 
      </ion-button> -->
      <ion-icon  color="light"  class="mx-1" id="contextMenuLabel2" slot="start" name="create-outline"></ion-icon>
      <ion-label id="contextMenuLabel1"> تغیر نام </ion-label>
    </ion-item>
    <ion-item (click)="removeFile()" lines="none"  button>
      
      <!-- <ion-button color="light"  expand="block" fill="clear" >
        حذف
      </ion-button>
    -->
    <ion-icon  color="light" class="mx-1" id="contextMenuLabel1" slot="start" name="trash-bin-outline"></ion-icon>
      <ion-label id="contextMenuLabel2"> حذف </ion-label>
     </ion-item>
   </ion-list>
  </div>
  
   
</ion-header>

<ion-content >
  <div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title">لیست {{ pageTitle }}</h1>
					<p class="dsec">در این صفحه لیست {{ pageTitle }} را مشاهده میکنید یا {{ pageTitle }} جدید اضافه کنید
					</p>
				</div>
			</div>
			<div class="col-lg-auto">
				<!-- <ion-button shape="round" color="warning" class="ml-3" [routerLink]="['importer']" *ngIf="global.userPermision['employer_import']">
					<ion-icon slot="start" name="push" ></ion-icon>
					افزودن {{ pageTitle }} با اکسل
				</ion-button> --> 
        <!-- *ngIf="global.userPermision['employers_add']" -->
				<ion-button (click)="presentAlert()" shape="round" color="success" >
					<ion-icon slot="start" name="add-circle"></ion-icon>
					افزودن {{ pageTitle }} جدید
				</ion-button>
			</div>
		</div>
	</div>
  <main class="container">
    <div class="row mt-4">
      <div class="col-md-8">
        <div class="title-1">
          <h2 class="title">لیست دسته بندی ها</h2>
          <p class="dsec">لیست دسته بندی ها به شرح زیر است</p>
        </div>
      </div>
      <div class="col-md-4">
        <!-- search -->
        <div class="search-input-2">
          
          <ion-searchbar enterkeyhint="" type="text" [(ngModel)]="filtered_name" debounce="1500" placeholder="جستجو در دسته بندی ها" (ionChange)="getData()"></ion-searchbar>
        </div>
      </div>
    </div>
    <div class="folders pt-15 col-12 row">

      <form class="col-1 folder" *ngFor="let item of dataList;let i=index" [routerLink]="[item.id]"  (submit)="edit(item.id,i)" (contextmenu)="onRightClick($event,item.id)">
  
        <!-- <> -->

          <ion-img src="/assets/svg/folderIcon.svg"></ion-img>
          <!-- <span  contenteditable="true"> {{item.name}} </span> -->
          <ion-input #nameInput [id]="'input-'+item.id" [readonly]="!item.editable" type="text"[value]="item.name"></ion-input>
        <!-- </> -->
  
      </form>
     

      
<!-- [style.right]="menuTopLeftPosition.x" 
[style.bottom]="menuTopLeftPosition.y"  -->



</div>
  

  </main>

</ion-content>
