<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ pageTitle }}</h1>
				</div>
			</div>
			<div class="col-lg-auto">
				<ion-button shape="round" color="medium" fill="outline" class="ml-3">
					<ion-back-button defaultHref="/employers" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
					</ion-back-button>
				</ion-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container ">
			<form [formGroup]="addForm" (submit)="onSubmit()" enctype="multipart/form-data" autocomplete="off">
				<div class="row my-4">
					<div class="col-12">
						<div class="title-1 my-4">
							<h2 class="title">اطلاعات کارفرما</h2>
							<p>لطفا اطلاعات اولیه کارفرما را تکمیل کنید</p>
						</div>
					</div>
					<!-- سال -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>نام</label>
							<ion-input type="text" (keypress)="global.justWord($event)" autocomplete="new-pass"
								formControlName="first_name"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['first_name']" [controlName]="'نام'">
								</app-validator>
							</span>
							<span class="hint">مثلا رضا</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>نام خانوادگی</label>
							<ion-input type="text" (keypress)="global.justWord($event)" autocomplete="new-pass-2"
								formControlName="last_name">
							</ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['last_name']" [controlName]="'نام خانوادگی'">
								</app-validator>
							</span>
							<span class="hint">مثلا رضایی</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>شماره شناسنامه</label>
							<ion-input type="phone" (keypress)="global.justNumber($event)" autocomplete="new-pass"
								formControlName="birth_certificate_code">
							</ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['birth_certificate_code']"
									[controlName]="'شماره شناسنامه'">
								</app-validator>
							</span>
							<span class="hint">شماره شناسنامه عدد است</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>کد ملی</label>
							<ion-input type="phone" (keypress)="global.justNumber($event)" autocomplete="new-pass"
								formControlName="national_code">
							</ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['national_code']" [controlName]="'کد ملی'">
								</app-validator>
							</span>
							<span class="hint">کد ملی 10 رقمی است</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>شماره همراه</label>
							<ion-input type="phone" (keypress)="global.justNumber($event)" autocomplete="new-pass"
								formControlName="mobile">
							</ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['mobile']" [controlName]="'شماره همراه'">
								</app-validator>
							</span>
							<span class="hint">شماره موبایل 11 رقمی است و با 09 شروع میشود</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>محل تولد</label>
							<ion-input type="text" autocomplete="new-pass" formControlName="birth_place"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['birth_place']" [controlName]="'محل تولد'">
								</app-validator>
							</span>
							<span class="hint">مثلا شیراز</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>تاریخ تولد</label>
							<ng-persian-datepicker [dateInitValue]="false" [timeMeridian]="true" [timeEnable]="false" [dateIsGregorian]="true"
								dateFormat="jYYYY/jMM/jDD">
								<input type="text" formControlName="born_at" />
							</ng-persian-datepicker>
							<span class="error">
								<app-validator [control]="addForm.controls['born_at']" [controlName]="'تاریخ تولد'">
								</app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>محل صدور شناسنامه</label>
							<ion-input type="text" autocomplete="new-pass"
								formControlName="birth_certificate_issuance_place"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['birth_certificate_issuance_place']"
									[controlName]="'محل صدور شناسنامه'">
								</app-validator>
							</span>
							<span class="hint">مثلا اصفهان</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>جنسیت</label>
							<ng-select bindLabel="name" bindValue="value" placeholder="انتخاب کنید"
								[items]="StaticData?.gender" formControlName="gender">
							</ng-select>
							<span class="error">
								<app-validator [control]="addForm.controls['gender']" [controlName]="'جنسیت'">
								</app-validator>
							</span>
							<span class="hint">مثلا آقا</span>
						</div>
					</div>
					<!-- -->
					<div class="col-md-6">
						<div class="form-input mb-3">
							<label>پست الکترونیک</label>
							<ion-input type="email" autocomplete="new-pass" formControlName="email"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['email']" [controlName]="'پست الکترونیک'">
								</app-validator>
							</span>
							<span class="hint">info@example.com</span>
						</div>
					</div>
					<!-- آپلود تصویر -->
					<div class="col-lg-6">
						<ion-img class="user-edit-img" *ngIf="addForm.value.image" [src]="addForm.value.image">
						</ion-img>
						<div class="form-input mb-3">
							<label>انتخاب تصویر</label>
							<ion-input type="file" accept="image/*" (change)="uploadFile($event)"
								autocomplete="new-pass" formControlName="image"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['image']" [controlName]="'تصویر'">
								</app-validator>
							</span>
							<span class="hint">حداکثر 1024 در 768 پیکسل</span>
						</div>
					</div>
					<!--  -->
					<div class="col-12">
						<hr>
					</div>

					<div class="col-12">
						<div class="title-1 my-4">
							<h2 class="title">پسورد اولیه کارفرما</h2>
							<p> در صورت نیاز پسورد اولیه برای کارفرما تعیین کنید. </p>

						</div>
						<div class="row my-4" >

							<div class="form-input input-progress col-6 ">
								<label>رمز عبور </label>
								<div class="input-raper">
									<ion-icon *ngIf="!paswordChecker.totalValid" name="lock-closed"></ion-icon>
									<ion-icon *ngIf="paswordChecker.totalValid" name="lock-open"></ion-icon>
									<ion-input [clearOnEdit]="false" #passwordinput type="password" formControlName="password" (ionChange)="checkPassword($event)" autofocus="true" autocomplete="new-pass">
									</ion-input>
									
									<ion-buttons slot="end">
									  <ion-button shape="round" (click)="togglePasswordShow(passwordinput)">
						  
										<ion-icon *ngIf="passwordinput.type!=='text'" slot="end" name="eye"></ion-icon>
										<ion-icon *ngIf="passwordinput.type=='text'" slot="end" name="eye-off"></ion-icon>
									  </ion-button>
										
									</ion-buttons>
						  
								  </div>
								  <ion-progress-bar [color]="paswordBarColor" [value]="paswordBarValue"></ion-progress-bar>
								<span class="error">
									<!-- <app-validator [control]="passwordForm.controls['verifycode']"
										[controlName]="'کد 5 رقمی'"></app-validator> -->

									<ion-item lines="full">
										<ion-icon *ngIf="!paswordChecker.minLengthFive" color="danger" name="close" slot="start"></ion-icon>
										<ion-icon *ngIf="paswordChecker.minLengthFive"color="success" name="checkmark" slot="start"></ion-icon>
										<ion-label>  حداقل 5 کارکتر </ion-label>
									</ion-item>
									<ion-item lines="full">
										<ion-icon *ngIf="!paswordChecker.hasCharecter" color="danger" name="close" slot="start"></ion-icon>
										<ion-icon *ngIf="paswordChecker.hasCharecter"color="success" name="checkmark" slot="start"></ion-icon>
										<ion-label>حداقل شامل یکی از کارکتر های مجاز 
											<br>
										<span >
											({{'$@!%*/?&#^_. +'}})
										</span></ion-label>
										
									</ion-item>
									<ion-item lines="full">
										<ion-icon *ngIf="!paswordChecker.hasEnglishWord" color="danger" name="close" slot="start"></ion-icon>
										<ion-icon *ngIf="paswordChecker.hasEnglishWord" color="success" name="checkmark" slot="start"></ion-icon>
										<ion-label> حداقل شامل یک حرف انگلیسی </ion-label>
									</ion-item>
									<ion-item lines="full">
										<ion-icon *ngIf="!paswordChecker.hasNumber" color="danger" name="close" slot="start"></ion-icon>
										<ion-icon *ngIf="paswordChecker.hasNumber" color="success" name="checkmark" slot="start"></ion-icon>
										<ion-label> حداقل شامل یک عدد </ion-label>
									</ion-item>
								</span>
							
								
							</div>
							<div class="form-input input-progress col-6 confirm-password">
								<label>تکرار رمز عبور </label>
								<div class="input-raper">
									<ion-icon *ngIf="!paswordChecker.totalValid||addForm.value.password!=addForm.value.confirmPassword" name="lock-closed"></ion-icon>
									<ion-icon  *ngIf="paswordChecker.totalValid&&addForm.value.password==addForm.value.confirmPassword" name="lock-open"></ion-icon>
									<ion-input [clearOnEdit]="false" #confirmPasswordInput type="password" formControlName="confirmPassword"  autofocus="true" autocomplete="new-pass">
									</ion-input>
									
									<ion-buttons slot="end">
									  <ion-button shape="round" (click)="togglePasswordShow(confirmPasswordInput)">
					
										<ion-icon  *ngIf="confirmPasswordInput.type!=='text'" slot="end" name="eye"></ion-icon>
										<ion-icon  *ngIf="confirmPasswordInput.type=='text'" slot="end" name="eye-off"></ion-icon>
									  </ion-button>
										
									</ion-buttons>
						  
								  </div>
								  <!-- <ion-progress-bar [color]="paswordBarColor" [value]="paswordBarValue"></ion-progress-bar> -->
								<span class="error">
									<!-- <app-validator [control]="passwordForm.controls['verifycode']"
										[controlName]="'کد 5 رقمی'"></app-validator> -->
										<div class="ion-text-right" *ngIf="addForm.value.confirmPassword&&addForm.value.password!=addForm.value.confirmPassword">
											<ion-text #text class="validation-text" color="danger">
												
												تکرار رمز عبور با رمز عبور واردشده برار نیست
											</ion-text>
										  </div>
										

								</span>
							
								<div class="hint">

									<!-- <hr> -->
									<!-- href="/login/forgetpassword" -->
<!-- 										
									<p>رمز عبور خود را فراموش کرده ام !! <a (click)="backtoPasswordSlide()">فراموشی
											رمز عبور</a>
									</p> -->
								</div>
							</div>

						</div>
					</div>
					<div class="col-12">
						<hr>
					</div>
					<!--  -->
					<div class="col-12">
						<div class="title-1 my-4">
							<h2 class="title">آدرس های کارفرما</h2>
							<p> اطلاعات آدرس و پستی کارفرما را تکمیل کنید . </p>

						</div>
						<!--  -->
						<div formArrayName="addresses">
							<div class="row" *ngFor="let item of addressFormGroup.controls ; let i = index" class="row"
								[formGroupName]="i">
								<!-- آدرس  -->
								<div class="col-lg-12">
									<div class="form-input mb-3" *ngIf="province && province.length">
										<label>انتخاب شهر</label>
										<ng-select [items]="province" placeholder="یک شهر انتخاب کنید" bindLabel="name"
											bindValue="id" groupBy="province" formControlName="city_id">
										</ng-select>
										<span class="error">
											<app-validator [control]="item.get('city_id')" [controlName]="'شهر'">
											</app-validator>
										</span>
										<span class="hint"> مثلا شیراز </span>
									</div>
								</div>
								<!-- آدرس منزل -->
								<div class="col-lg-12">
									<div class="form-input mb-3">
										<label>آدرس محل کار</label>
										<ion-textarea autocomplete="new-pass" formControlName="address"></ion-textarea>
										<span class="error">
											<app-validator [control]="item.get('address')"
												[controlName]="'آدرس محل کار'"></app-validator>
										</span>
										<span class="hint">مثلا : شیراز خیابان زند خیابان رودکی </span>
									</div>
								</div>
								<!-- کد پستی منزل -->
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>کد پستی</label>
										<ion-input type="phone" (keypress)="global.justNumber($event)"
											autocomplete="new-pass" formControlName="postal_code"></ion-input>
										<span class="error">
											<app-validator [control]="item.get('postal_code')"
												[controlName]="'کد پستی'"></app-validator>
										</span>
										<span class="hint">مثلا : 1234512345</span>
									</div>
								</div>
								<!-- شماره تماس منزل -->
								<div class="col-lg-6">
									<div class="form-input mb-3">
										<label>شماره تلفن</label>
										<ion-input type="phone" autocomplete="new-pass" formControlName="phone">
										</ion-input>
										<span class="error">
											<app-validator [control]="item.get('phone')" [controlName]="'شماره تلفن'">
											</app-validator>
										</span>
										<span class="hint">مثلا : 071*******</span>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-12">
						<hr>
					</div>
					<!-- btn frm -->
					<div class="col-12">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-lg-2">
								<ion-button expand="block" color="medium" fill="outline" shape="round"
									(click)="global.emptyFrom(addForm)">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-lg-2">
								<ion-button expand="block" color="warning" fill="solid" shape="round"
									(click)="showPrew()">
									پیش نمایش
								</ion-button>
							</div>
							<div class="col-lg-3">
								<ion-button type="button" (click)="onSubmit(true)" expand="block" color="success" fill="solid" shape="round">
								  ثبت و ثبت جدید
								</ion-button>
							</div>
							<div class="col-lg-3">
								<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
									ثبت {{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</div>

				</div>


			</form>
		</div>
	</main>
</ion-content>
