<ion-header>
	<app-header [title]="pageTitle"></app-header>
</ion-header>
<ion-content>
	<!-- top bar content -->
	<div class="content-header">
		<div class="row justify-content-between ion-align-items-center">
			<div class="col-lg-auto">
				<div class="page-info">
					<h1 class="title"> {{ pageTitle }}</h1>
					<p class="dsec">در این بخش میتوانید یک درخواست جدید ارسال کنید</p>
				</div>
			</div>
			<div class="col-lg-auto">

				<ion-back-button defaultHref="more/bank" [text]=" 'بازگشت' " [icon]="'arrow-back-outline'">
				</ion-back-button>
			</div>
		</div>
	</div>
	<main>
		<div class="container">
			<form [formGroup]="addForm" (submit)="onSubmit()">
				<div class="row my-4">
					<!-- عنوان تیکت -->
					<div class="col-md-12">
						<div class="form-input mb-3">
							<label>عنوان درخواست</label>
							<ion-input type="text" autocomplete="new-pass" formControlName="subject"></ion-input>
							<span class="error">
								<app-validator [control]="addForm.controls['subject']" [controlName]="'عنوان'">
								</app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>
					<!-- select section -->
					<div class="col-md-12 mb-3">
						<div class="form-input ">
							<label>بخش</label>
							<ng-select
							
							[items]="supportList"
							[clearable]="false"
							placeholder="انتخاب بخش مربوطه  "
							bindLabel="name"
							bindValue="id"
							formControlName="section_id"
							(change)="setSectionChildern($event)" 
							>
							<!-- (change)="pageChange(1)" -->
							</ng-select>
							<span class="error">
								<app-validator [control]="addForm.controls['section_id']" [controlName]="'انتخاب بخش '">
								</app-validator>
							</span>
							<!-- <span class="hint"></span> -->
						</div>
					</div>
					<!-- chose section childern -->


					<div *ngIf="supportList&&addForm.controls['section_id'].value" class="col-md-12 mb-3 section-childern" >
						<div class="form-input mb-3">
						  <label>انتخاب کارکنان بخش</label>
						  <ng-select
						  [clearable]="true"
						  placeholder="انتخاب کنید"
						  [multiple]="false"
						  [items]="users"
						  bindLabel="full_name"
						  bindValue="id"
						  formControlName="receiver_id" 
						  >
						  <!-- (add)="AddAlowences($event)"
						  (remove)="removeAlowences($event)"
						  (change)="calcChildrenAllowance();" -->
					   
						
						  </ng-select>
						  <span class="error">
							<app-validator #validation [control]="addForm.controls['receiver_id']" [controlName]="'انتخاب کارمندان '"></app-validator>
						  </span>
						  <span class="hint">در صورت تمایل یکی از کارکنان بخش را انتخاب کنید .</span>
						</div>
					  </div>

					<!-- توضیحات تیکت -->
					<div class="col-md-12">
						<div class="form-input mb-3">
							<label>توضیحات</label>
							<ion-textarea type="text"  rows="6" autocomplete="new-pass" formControlName="content"></ion-textarea>
							<span class="error">
								<app-validator [control]="addForm.controls['content']" [controlName]="'توضیحات '">
								</app-validator>
							</span>
							<span class="hint"></span>
						</div>
					</div>
					<!-- لاین -->
					<div class="col-12">
						<hr>
					</div>
					<div class="col-12">
						<div class="row ion-justify-content-end ion-align-items-center">
							<div class="col-lg-2">
								<ion-button expand="block" color="medium" fill="outline" shape="round" (click)="global.emptyFrom(addForm)">
									پاک کردن فرم
								</ion-button>
							</div>
							<div class="col-lg-3">
								<ion-button type="submit" expand="block" color="success" fill="solid" shape="round">
									{{ pageTitle }}
								</ion-button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
</ion-content>
